[2018-09-19 13:02] julienbourdeau opened #2 "Package requirements and compatibility"
Currently, the project requires at least Laravel 5.7 (the latest). We need to define what version we want to be compatible with.

We need to fix the version of Scout we want to support (which will also define the PHP version).

Things to consider:

* Laravel Scout was release with Laravel 5.4
* Laravel 5.4 and Scout < 4.0 support php 5.6
* `getScoutKey` was introduced in 4.x (great feature)

[2018-10-22 19:30] TimRoenicke opened #50 "Issues Installing 'Composer Require'"
Problem 1
    - Installation request for algolia/scout-extended dev-master -> satisfiable by algolia/scout-extended[dev-master].
    - algolia/scout-extended dev-master requires laravel/scout dev-feat/upgrade-algolia-engine -> no matching package found.

[2018-10-22 19:31] smccoy78 opened #51 "Composer Install Error"
When attempting to install I am getting an error with one of the required packages.

"laravel/scout dev-feat/upgrade-algolia-engine -> no matching package found"

Is there a work around for this? I am not seeing that branch on the laravel/scout repository.

[2018-10-22 19:31] #51 closed

[2018-10-22 19:32] smccoy78 commented on #50
I am getting the same issue.

[2018-10-24 13:00] nunomaduro commented on #50
@TimRoenicke @smccoy78 Thanks for testing this package.

Scout Extended is under development and **is not stable yet**. But fell free to test it and give us feedback!

- Run again `composer require algolia/scout-extended`. It should work now! 👍

[2018-10-24 14:24] nunomaduro opened #56 "Add support to Lumen"
Scout Extended was never tested on Lumen - The Micro Framework by Laravel. This may be a first good issue. List of tasks:

- Install Scout Extended locally with Lumen : https://www.algolia.com/doc/framework-integration/laravel/getting-started/installation/
- Check everything works as expected
- If does'nt work as expected, adapt the source code of Scout Extended and perform a Pull Request
- Eventu

[2018-11-06 16:05] shirshak55 opened #58 "Support of Laravel Nova"
Yeah it will be awesome if we can manage index, its status, statistics etc directly from Nova admin panel.

If dedicated tool like telescope is there it will be fine too. Yeah its easy to see from algolia but we cannot give access to everybody right like in admin panel we can have our own restrictions etc..

[2018-11-06 16:06] shirshak55 commented on #58
By the way thanks for creating such a good package. Algolia should be really happy about this package.

[2018-11-16 20:32] lmatab opened #65 "Support of more complex Where is search queries"
Currently Scout allows you to add simple "where" clauses to your search queries, as commented in the documentation:

https://laravel.com/docs/5.7/scout#where-clauses

It would be great if we could add more complex Where clauses in an easy way, such as:

$orders = App\Order::search('Star Trek')->where('user_id', '!=','1')->get();

[2018-11-16 20:47] nunomaduro commented on #65
That's a great proposal! Do you wanna make a Pull Request for that? The file where macros should be added is : `BuilderMacros`.

[2018-11-16 21:49] lmatab commented on #65
I would love to Nuno, can you give me some ideas  or workflow how to add this feature?

[2018-11-16 21:57] jimbojsb opened #66 "Aggregates unable to rehyrdate models if scout key is set"
I've not fully investigated the source of this yet, but it appears that if the scoutKey() feature is used, aggregates can't rehydrate themselves correctly. Mostly leaving this here as a reminder to come back to it.

[2018-11-16 22:03] nunomaduro commented on #66
Thanks, meanwhile can you explain me what do you mean by `rehydrate themselves correctly`?

[2018-11-16 22:56] nunomaduro commented on #66
Great news! This issue can be closed right?

[2018-11-16 23:56] nunomaduro commented on #65
Sorry, meanwhile just have proposed a solution for this: https://github.com/algolia/scout-extended/issues/65.

Please take a look at the code, and tell me what do you think 👍

[2018-11-19 13:11] nunomaduro commented on #65
@lmatab This feature has been added. Can you run a quick test?

[2018-11-19 13:13] lmatab commented on #65
Hi Nuno, Sure I will today! Thanks a lot

On Mon, Nov 19, 2018, 10:11 Nuno Maduro <notifications@github.com wrote:

[2018-11-19 14:34] borealsmith opened #70 "How many models an aggregate can consist of ?"
Hi,
I was wondering if there is a limit for the number of models an aggregate can consist of ?
Thanks.

[2018-11-19 15:08] nunomaduro commented on #70
Hey @borealsmith 👋

Thanks for asking that.

At the moment, **there is no limit** on the number of models that can be aggregated.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extend

[2018-11-19 15:08] #70 closed

[2018-11-19 15:20] nunomaduro commented on #50
Hey @TimRoenicke @smccoy78  👋

I am closing this due to lack of activity.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2018-11-19 15:20] #50 closed

[2018-11-20 11:41] lmatab commented on #65
@nunomaduro  I've tried to test it with:

$contact = App\Contact::search('Dar')->where('id','!=',94)->get();

And I just get this error:

Algolia \ AlgoliaSearch \ Exceptions \ BadRequestException (400)
cannot parse numeric operand

I am using the lates version 0.31v

[2018-11-20 11:57] nunomaduro commented on #65
@lmatab You check the docs: https://github.com/algolia/scout-extended#improved-where

[2018-11-20 19:12] lmatab commented on #65
@nunomaduro  it works just great!, pretty nice improvement!

I just did:

$orders = App\Contact::search('Dar')->where('id !=',94)->get()

And it worked like a charm!

Thanks a lot for such a fast and good feedback on this  issue, I'm an algolia evangelist in Chile now.

[2018-11-26 23:30] jimbojsb opened #72 "aggregators indexing fails if SCOUT_QUEUE is true"
MakeSearchable job doesn't understand what to do with an Aggregator

[2018-11-27 08:42] nunomaduro commented on #72
Thanks for reporting this issue @jimbojsb. I am going to take a look at this during the day!

[2018-11-27 14:57] jimbojsb commented on #72
@nunomaduro Here's what I know:

- The underling issue is that MakeSearchable has a collection of models as a property and that job uses SerializesModels. SerializesModels assumes that anything that is a collection is a collection of QueueableEntities, and will try to wakeup that collection by doing a database query by class and id of that entity. SerializesModels serializes the Aggregator classna

[2018-11-27 19:16] jimbojsb commented on #72
Actually upon further investigation, I think this would require overriding the SearchableScope as well.

[2018-11-27 19:20] nunomaduro commented on #72
@jimbojsb Thanks for the investigation, I will check this during the day of **tomorrow**, I am sure we will be able to fix this.

[2018-11-28 14:18] dexbytesmanish commented on #66
How to deal with pagination in aggregate mode ?

[2018-11-28 17:12] nunomaduro commented on #72
@jimbojsb I may have found a solution for this issue: https://github.com/algolia/scout-extended/pull/77. Can you take a look?

[2018-11-29 07:58] nunomaduro commented on #66
@dexbytesmanish Can you write pseudo code to explain what you are trying to accomplish ?

[2018-11-29 08:32] dexbytesmanish commented on #66
As per your repo example How do I perform paginate only Event or Article
model :

$models = App\Search\News::search('Laravel')->get();echo
get_class($models[0]); // "App\Article"echo get_class($models[1]); //
"App\Event"

How do I paginate $models[0]->paginate(2) ? // Article only

On Thu, Nov 29, 2018 at 1:29 PM Nuno Maduro <notifications@github.com>
wrote:

[2018-11-29 13:33] jimbojsb commented on #66
It seems to me that use case defeats the point of using an aggregator in the first place.

[2018-11-29 14:34] nunomaduro commented on #72
This issue has been fixed on the version `v0.4.0`.

[2018-11-29 14:34] #72 closed

[2018-11-29 14:34] #66 closed

[2018-11-30 05:06] dexbytesmanish commented on #66
You mean I can't use aggregate for individual model pagination ?

On Thu, Nov 29, 2018 at 7:03 PM Josh Butts <notifications@github.com> wrote:

[2018-11-30 08:50] nunomaduro commented on #66
I am so sorry, maybe I am see it wrong. But I still didn't understand what you are trying to accomplish.

[2018-11-30 14:57] fitztrev opened #90 "Performance issues when indexing records that contain data from relationships"
## Summary

When `searchableArray` contains data from a relationship, the `import` will perform an extra query for each record in order to get it.

## Scenario

A project belongsTo a customer. In search results, I want to display the Customer name under the Project name. The record might look like this:

[code]

## Problem

When running `scout:import`, it would perform N+1 queries to get the Proje

[2018-11-30 15:13] nunomaduro commented on #90
Thank you so much for reporting this issue. I will study this case soon as possible. Meanwhile I do have a question: Why have you said that `would not work on large data sets.`?

[2018-12-03 05:48] dexbytesmanish commented on #66
If I do $news = App\Search\News::search('Star Trek')->paginate(15); it will
paginate all of the models/indices under News Model/Aggregated Index  I
want to paginate only any one Model/Index (Event/Article) at a time rather
than paginiating all (rest of) the Models/Indices.

On Fri, Nov 30, 2018 at 2:20 PM Nuno Maduro <notifications@github.com>
wrote:

[2018-12-03 10:11] nunomaduro commented on #66
If you want to paginate the `App\Event`, you can just do: `App\Event::search('Star Trek')->paginate(15)` right?

[2018-12-04 09:22] dexbytesmanish commented on #66
ok, I will try that but it should be same and single API call which will
also search other Models/Indices (of aggregator) if not searched earlier
and recently added to search query when paginate to single index/model
(Event) was performed with search.

On Mon, Dec 3, 2018 at 3:41 PM Nuno Maduro <notifications@github.com> wrote:

[2018-12-10 15:42] nunomaduro commented on #90
Self note: Make sure I contact @fitztrev on discord.

[2018-12-12 08:26] OwenMelbz opened #93 "Syncing models to multiple indexes"
Ola!

Was hoping you could shed some light on the possibilities of syncing a model to multiple indexes?

Our example.

We have a marketing website which uses various indexes to provide results to the general public.

We also have an internal CRM which searches the same indexes so staff can find the same information.

HOWEVER

This creates a problem with the Algolia analytics - we can no longer see

[2018-12-12 08:33] OwenMelbz commented on #93
(Read up 😂 the issue submitted before I finished typing)

[2018-12-12 08:55] nunomaduro commented on #93
I may have a cool solution for you. Try this:

[code]

[2018-12-12 08:58] OwenMelbz commented on #93
Let's say... we're using the Javascript API... is this param still available?

[2018-12-12 09:00] OwenMelbz commented on #93
Oh it maybe does... https://www.algolia.com/doc/api-reference/api-parameters/analytics/

I will have a look at this :D

[2018-12-12 09:02] nunomaduro commented on #93
Close the issue once you have found the solution. We may want to consider implement this on the back end side:
[code]

[2018-12-12 09:07] yongkylie opened #94 "Where condition on multidimensional arrray or nested object"
Is it possible to do a search with `where` condition on a model that has multidimensional array or nested object?

Here is an example of `Student` index's structure stored in Algolia:
[code]

From above example, I need to do `search` everyone who has score more than 75 in math.
Thanks!

[2018-12-12 10:09] yongkylie commented on #94
@nunomaduro I use Scout Extended configuration and doing all the filters on the back.
So, by using `toSearchableArray()` do you mean to change my index's structure into these formats below?

[code]

Thanks!

[2018-12-12 10:21] nunomaduro commented on #94
@yongkylie Perfect. Exacly that!

Then you just have todo:
[code]

[2018-12-12 12:16] yongkylie commented on #94
Thanks! I will close this issue for now.

[2018-12-12 12:17] #94 closed

[2018-12-12 12:18] nunomaduro commented on #94
@yongkylie Happy to see that you have found a solution.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2018-12-14 09:29] yongkylie opened #95 "Data sorting dynamically by parameters send by user"
Is it possible to do data sorting based on parameters being sent to Algolia?

For example, I have an e-commerce app that sell books. Sometimes I need to sort the data by popularity, sometimes by sales, sometimes by newest or oldest.

Can't find anything about this in the official Algolia docs.
Thanks!

[2018-12-17 21:35] nunomaduro commented on #95
Every index has a unique sorting strategy, which is statically defined at the index level. Take a look at this docs and tell me if something is not clear for you: [https://www.algolia.com/doc/guides/ranking/sorting/](https://www.algolia.com/doc/guides/ranking/sorting/).

[2018-12-18 19:11] fitztrev opened #97 "Eager loading for model resolution"
When I switched from `laravel/scout` to `algolia/scout-extended` I noticed the model resolution is no longer eager loaded.

[code]

If the above search results in 20 items, there are 20 database queries. In `laravel/scout`, it would do one `where in (...)`.

[2018-12-18 19:50] nunomaduro commented on #97
Thanks for reporting this, currently looking into it.

[2018-12-18 21:00] fitztrev opened #98 "Search behavior difference from Scout"
I noticed another issue which would be a breaking change when switching from `scout` to `scout-extended`.

### Scenario:

The `items` index has 10 records.

### Issue:

With `laravel/scout`:

[code]

With `algolia/scout-extended`:

[code]

This would be an issue because of Laravel's `ConvertEmptyStringsToNull` middleware. Like in my case, if someone is trying to do `Item::search($request->query)->

[2018-12-18 22:21] nunomaduro commented on #98
This is weird, what version of Laravel Scout you were using before?

[2018-12-18 23:35] nunomaduro commented on #97
This issue was being fixed on the version `v0.4.2`. Can you update it using `composer update algolia/scout-extended` and run a quick test?

[2018-12-19 14:37] fitztrev commented on #97
Upgraded and confirmed fixed. Thank you!

[2018-12-19 14:39] nunomaduro commented on #97
Thanks for the feedback on this!

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2018-12-19 14:39] #97 closed

[2018-12-19 15:34] fitztrev commented on #98
Just reverted back to the latest version of Scout to test:

[code]

[2018-12-19 16:33] nunomaduro commented on #98
This issue was been fixed on the version `v0.4.3`. Can you update it using `composer update algolia/scout-extended` and run a quick test?

[2018-12-19 16:46] fitztrev commented on #98
Working now in `v0.4.3`. Thanks!

[2018-12-19 16:49] nunomaduro commented on #98
Thanks for the feedback on this!

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2018-12-19 16:49] #98 closed

[2018-12-20 04:39] yongkylie commented on #95
I see! I need to have multiple replicas of the index to achieve this. After I made the replica, then I could have different configuration of rankings for each replica.

Thanks!

[2018-12-20 13:00] nunomaduro commented on #2
The version `v1.0.0` is has been tagged. The requirements are:

- Laravel Scout > 6
- Laravel > 5.6
- PHP 7.1.3

[2018-12-20 13:00] #2 closed

[2018-12-29 21:41] janmaarten opened #100 "_getRankingInfo is not added to the models"
Hi,

Thanks for the great work on the scout-extended package.

It seems like when passing `'getRankingInfo' => true` using with(), the _rankingInfo is not added to the model. When using the regular api client, it is. Is this a bug?

Thanks!

[2018-12-30 01:18] borealsmith opened #101 "Invalid object Algolia\AlgoliaSearch\Exceptions\BadRequestException"
Hi,

Each time I add this line in my blade file
api-key="{{ Algolia\ScoutExtended\Facades\Algolia::searchKey(App\MyModel::class) }}"

I get the following error
Algolia\AlgoliaSearch\Exceptions\BadRequestException

Invalid object

Thanks

[2018-12-30 01:19] nunomaduro commented on #101
Thanks for reporting this issue,

Could you give more details on your error? What is the message that comes with `Algolia\AlgoliaSearch\Exceptions\BadRequestException`?

[2018-12-30 01:25] borealsmith opened #102 "Documentation"
Hi,

On the following page
https://www.algolia.com/doc/framework-integration/laravel/searching/client-side-search/

I believe this code will not work
 <ais-results>
           <template scope="{ result }">
               <div>
                   <h1>@{{ article.title }}</h1>
                   <h4>@{{ article.summary }}</h4>
               </div>
           </template>
        </ais-results>

You

[2018-12-30 01:55] borealsmith commented on #101
thanks for taking care of it
here is the sentry report of the error

Algolia\AlgoliaSearch\Exceptions\BadRequestException

Invalid object

    storage/framework/views/d9a20346eb737436bfd370b37133ddf623d460ce.php in include at line 3

<div>
<ais-index app-id="<?php echo e(config('scout.algolia.id')); ?>"
api-key="<?php echo e(Algolia\ScoutExtended\Facades\Algolia::searchKey(App\Ad::class)); ?>"

[2018-12-30 01:57] borealsmith commented on #101
Algolia\AlgoliaSearch\Exceptions\BadRequestException

Invalid object

    storage/framework/views/d9a20346eb737436bfd370b37133ddf623d460ce.php in include at line 3

<div>
<ais-index app-id="<?php echo e(config('scout.algolia.id')); ?>"
api-key="<?php echo e(Algolia\ScoutExtended\Facades\Algolia::searchKey(App\Ad::class)); ?>"
            index-name="<?php echo e((new App\Ad)->searchableAs()); ?>">

[2018-12-30 13:39] borealsmith commented on #101
Yes of course

[2018-12-30 14:02] nunomaduro commented on #102
Thanks! Pull Request was made on the Algolia doc team repository.

[2018-12-30 14:02] #102 closed

[2018-12-30 14:02] nunomaduro commented on #102
_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2018-12-31 01:42] borealsmith opened #103 "shouldBeSearchable() method ignored by scout:reimport"
Hello,

I have a model for which, on purpose I define the shouldBeSearchable method so that to always returns false. Despite this, the model is imported in my index when I run php artisan scout:reimport.

Please note that for the same model I overwritten the toSearchableArray method.

Thank you.

[2018-12-31 01:50] borealsmith commented on #103
Note that If I flush the index and thatn I run scout:import it works as expected; i.e only records for which shouldBeSearchable() returns true are imprted in the index.

[2019-01-01 16:07] nunomaduro commented on #103
@borealsmith Could you check if that issue also exists on the `scout:import`?

[2019-01-01 16:09] nunomaduro commented on #100
@janmaarten No. That happens because you are using the method `get` instead of  `raw`.

But could be a nice feature to add that information while using the `get` method. Do you wanna work on a Pull Request for this?

[2019-01-01 16:10] nunomaduro commented on #93
Closing due to inactivity.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀?

[2019-01-01 16:10] #93 closed

[2019-01-01 21:47] borealsmith commented on #103
@nunomaduro As I mentioned above scout:import seems to work correctly

[2019-01-02 07:11] NU-OnE opened #104 "Index record does not exist"
I get **'Index record does not exist'** when using  multiple models in one index (Aggregators). But searching directly with model works fine. Followed exactly as mention on the [documentation ](https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/multiple-models-in-one-index/) with new laravel instance.

**Aggregator Class**
[code]

**AppServiceProvider**
[code]

**In Contr

[2019-01-02 07:52] nunomaduro commented on #104
Seems like the remote index doesn’t exist. Have you imported your records using ‘php artisan scout:import’ ?

[2019-01-02 08:40] NU-OnE commented on #104
No i did not do that because i was pretty sure index are exist on the cloud. But now i did `php artisan scout:import` then tried again.

It Works. Thank You very much
But may i know what the reason importing data again although they exist on cloud.

[2019-01-02 08:47] nunomaduro commented on #104
Great!

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-01-02 08:47] #104 closed

[2019-01-02 17:01] bakerkretzmar opened #105 "No results returned when using with Laravel Nova"
When using Scout Extended with Laravel Nova, I'm not getting any results searching on a model resource page for a specific model.

Using `laravel/scout` and `algolia/algoliasearch-client-php:^1.27` [per the Scout docs](https://laravel.com/docs/5.7/scout#installation) everything works out of the box.

With `algolia/scout-extended` I get nothing—everything else is the same, I just uninstalled the tw

[2019-01-02 17:13] bakerkretzmar commented on #105
Setting the `getScoutKey` method on the model makes no difference. Locally it returns the right key, but Algolia still sets `"App\Model::1"` as the `objectID`.

[2019-01-02 20:55] nunomaduro commented on #105
Thanks for posting this. I will run a quick test tomorrow and get back to you.

[2019-01-03 09:33] nunomaduro commented on #105
Just submitted an issue on: https://github.com/laravel/nova-issues/issues/1188

[2019-01-03 20:07] nunomaduro commented on #100
Thanks for creating this issue tho. Is a great proposal.

[2019-01-04 18:13] terryBaz commented on #90
[this could solve your problem](https://github.com/laravel/scout/issues/329#issuecomment-451507189)

[2019-01-04 22:10] nunomaduro commented on #101
@borealsmith Hey buddy. This issue has been fixed on the version `v1.0.3`. Can you perform `composer update algolia/scout-extended` and re-test?

[2019-01-04 23:00] borealsmith commented on #101
@nunomaduro Thanks a lot ! Up and running !

[2019-01-05 17:20] diazgilberto commented on #65
Hi Nuno,

I'm trying to use the `where()` method with the following code...

[code]

I'm intentionally searching for a term that the user don't have in the `Pattern` table and the record still comes back and it shouldn't. The index in algolia has the `user_id` include on each record since that is the relationship I need. I don't know if I'm missing something.

[2019-01-06 14:55] nunomaduro commented on #65
@diazgilberto Can you create a new issue for this?

[2019-01-06 15:43] diazgilberto commented on #65
Good timing, I'm working on this right now.

[2019-01-06 15:51] diazgilberto opened #108 "where() method not filtering query"
I'm trying to integrate algolia in a personal project. The table I'm indexing is the `patterns` table that has the `user_id` as `FK` and is included as one of the fileds I upload to algolia.

[code]

If I dump the `user_id` I get `1`. Intentionally I'm searching for something that doesn't belong to that user expecting to get nothing from algoia but I still get the record back. The record that I ge

[2019-01-06 17:38] diazgilberto commented on #108
I did ran `composer require algolia/scout-extended` and
`php artisan vendor:publish --provider="Laravel\Scout\ScoutServiceProvider"`.

[2019-01-06 18:09] nunomaduro commented on #108
Perfect. Now I need you to check if the record that haves the objectID `App\Pattern::17` is the exacly the record with the id `17` in your database.

[2019-01-06 18:30] diazgilberto commented on #108
<img width="928" alt="screen shot 2019-01-06 at 12 29 17 pm" src="https://user-images.githubusercontent.com/9165819/50740063-c181c600-11ae-11e9-856e-3c8b8740e72c.png">

[2019-01-06 20:08] nunomaduro commented on #108
@diazgilberto This is super weird. Can you try add a `dd($options);` on the line 135 of the file `Laravel\Scout\Engines\AlgoliaEngine` and perform a search? And tell me the results of the `dd`.

[2019-01-06 20:11] diazgilberto commented on #108
`Laravel\Scout\src\Engines\AlgoliaEngine` instead?

[2019-01-06 20:11] nunomaduro commented on #108
Exacly.

[2019-01-06 20:17] diazgilberto commented on #108
<img width="287" alt="screen shot 2019-01-06 at 2 16 22 pm" src="https://user-images.githubusercontent.com/9165819/50741051-cac65f00-11bd-11e9-9897-57ab2dc7644c.png">

[2019-01-06 20:20] nunomaduro commented on #108
Perfect. Now, remove the previous `dd`. And on the line 135 replace the current line by: `return dd($algolia->search($builder->query, $options));`. And tell the results.

[2019-01-06 20:30] nunomaduro commented on #108
Exacly, but you told me that using this code, The result of the `$patterns` is a model with the user_id == 3 right?
[code]

[2019-01-06 20:36] diazgilberto commented on #108
Collection is empty as expected utilizing your snippet and my code.

[code]

The problem should be when I render the view.

[code]

[2019-01-06 20:49] nunomaduro commented on #108
Ahah. You have been searching with `vue-instantsearch` this whole time. Since you are using client-side search, you just have to inspect your network to debug your problem.

[2019-01-06 20:51] nunomaduro commented on #108
Otherwise you can address this issue with our `vue-instasearch` team : https://github.com/algolia/vue-instantsearch.

[2019-01-06 20:52] diazgilberto commented on #108
Well, my initial search is server side. Even though the server side search returns the correct object, looks like `vue-instantsearch` is querying again when I pass `uery="{{ request('q') }}"`.

[2019-01-06 20:53] diazgilberto commented on #108
Closing since `scout-extended` is behaving as expected and the problem resides somewhere else.

Thanks Nuno!!!

[2019-01-06 20:53] #108 closed

[2019-01-06 20:55] nunomaduro commented on #108
Thanks! Since you are doing client side search you don't need the server side search.

Don't hesitate to check the docs of vue instasearch: https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/vue.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet t

[2019-01-08 00:12] lkagan commented on #103
Hopefully I can provide more info on this as I think I'm experiencing a similar issue.

When returning `false` for `shouldBeSearchable()` for all models, I expect a `scout:status` to show 0 remote records but it shows the same number that was previously displayed.

An API call is successfully POSTed to `/1/indexes/temp_<index-name>/operation` with an `operation` of `move` and a `destination` of `<

[2019-01-08 08:35] nunomaduro commented on #103
@lkagan Exacly. Thanks for finding the issue.

Any idea for the solution? I would say: If the temporary index is empty, just clear the production index. What do you think?

[2019-01-08 08:36] nunomaduro commented on #103
@borealsmith Do you agree with the problem discussed here?

[2019-01-08 13:47] lkagan commented on #103
@nunomaduro Clearing the production index sounds like a viable solution if the temp index is empty.  Although it feels a bit dirty.  If a move command is issued to the API, one would expect that command to be run, regardless of index size.

[2019-01-08 20:10] borealsmith commented on #103
@lkagan Thank you for the further infos / clarification.
@nunomaduro for the solution I would say than in a way (clear) or another (move) if reimport results in an empty tmp index this should be reflected in production as the tmp index represents the latest state of the app models.

[2019-01-08 21:24] nunomaduro commented on #103
@borealsmith Do you wanna work on this? 👍

[2019-01-08 21:30] borealsmith commented on #103
@nunomaduro Yes, I would be glad to work on this :)

[2019-01-09 15:01] icemancast opened #113 "Undefined offset: 1 scout-extended with extended & Record too big"
I keep getting an undefined offset: 1 with scout extended at this line:
https://github.com/algolia/scout-extended/blob/master/src/Searchable/ObjectIdEncrypter.php#L77

Maybe due to Algolia search client incompatibility if you see here:
https://github.com/laravel/scout/issues/328

[2019-01-09 15:41] nunomaduro commented on #113
@icemancast Have you re-imported your data after installing Scout Extended? If not, you must perform a `scout-reimport`.

[2019-01-09 15:46] nunomaduro commented on #113
Just added a warning on the code itself, to help the developer next time this happens: https://github.com/algolia/scout-extended/commit/3048d74302c4e8e5bf8a02310a72d939b2c2a15b

[2019-01-09 15:55] icemancast commented on #113
@nunomaduro no I did not. I'll try again here and post back. Is there an incompatibility with the algoliasearch-client-php client required by scout-extended and laravel/scout? Their docs force 1.27 install.

[2019-01-09 15:56] nunomaduro commented on #113
@icemancast Laravel Scout uses Algolia PHP Client V1. Scout Extended uses Algolia PHP Client v2.  👍

[2019-01-09 17:04] nunomaduro commented on #105
@bakerkretzmar This issue will be fixed on the next release of Laravel Nova.

[2019-01-09 17:23] icemancast commented on #113
@nunomaduro ended getting a Record at the position 40 objectID=App\Customer::41 is too big size=103328 bytes

so reimport failed. To get around this before i uploaded my records csv to dashboard. If there is a better way let me know.

[2019-01-09 18:34] nunomaduro commented on #113
@icemancast No horries, I am here to help you. Let's discuss this issue here instead of the private support. Other people may have the same issue.

With Scout Extended, you should not import thing using the dashboard. You should import your data using `scout:import` or `scout:reimport`.

**Problem**: Seems that the record create by the customer 41 it's to big for Algolia.

**Solution**: Debug the

[2019-01-09 19:44] icemancast commented on #113
Thanks @nunomaduro will try there here and report back.

[2019-01-09 22:40] nunomaduro commented on #113
Yes. You just have to implement the method `toSearchableArray` on the searchable model:

[code]

Then, if you run `scout:reimport` everything should be good.

More info: https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-searchable-data/?language=php#customize-records.

[2019-01-10 00:33] icemancast commented on #113
@nunomaduro thank you that did the trick. That model had many relationships making it bigger. Thanks!

[2019-01-10 09:06] nunomaduro commented on #113
Super happy that everything it's good for you now!

Please if you have more questions fell free to ask them.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your

[2019-01-10 09:06] #113 closed

[2019-01-14 10:33] borealsmith commented on #103
What do you think about the following ?
It the reimport results in an empty index than prompt a question to the user asking if he wants to replace the production index with an empty index ?
Thank you.

[2019-01-14 10:48] nunomaduro commented on #103
I would say: Just clear the production index. No need for asking.

[2019-01-14 12:41] borealsmith commented on #103
@nunomaduro Thank you for your answer. I am fine with it.

[2019-01-14 20:49] tobz-nz opened #118 "Option to set path for index-settings"
Personally I'd like to put the scout configs somewhere other than the config folder. Would be nice to have an optional setting for this in `config/scout.php`.

[2019-01-15 00:00] borealsmith opened #119 "Question: Indices per ENV"
Hi,

I was wondering if is possible to have different indices per environment and configure which index to use for a given environment via the .env file ?

Thank you.

[2019-01-15 14:55] nunomaduro commented on #119
You mean this: https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-index/?language=php#per-environment-index-name ?

[2019-01-15 14:56] nunomaduro commented on #118
Sounds interesting, can you make a pull request with a POC or similar?

[2019-01-15 15:14] borealsmith commented on #119
Yes. Exactly that :).
Thank you for your reply and sorry for the inconvenience. I was definitely  overlooking the docs.

[2019-01-15 16:02] nunomaduro commented on #119
No worries.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-01-15 16:02] #119 closed

[2019-01-16 01:22] tobz-nz commented on #118
Sure I can do that 👍

[2019-01-22 09:43] nunomaduro commented on #105
This issue was being fixed on the version `v1.3.1` of Laravel Nova.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-01-22 09:43] #105 closed

[2019-01-22 09:44] nunomaduro commented on #58
@shirshak55 Any idea of the feature set of this? Any examples of other nova packages?

[2019-01-22 09:48] shirshak55 commented on #58
@nunomaduro  i think the feature we would like to see is like ability to do stuff on our admin panel instead of going to algolia.com . Statistics data on our admin panel etc.

By the way nova is not opensource so i don't think it will have advantage to many people so its ur choice 👍

[2019-01-22 19:35] antongorodezkiy opened #122 "Config sync is working wrong"
Looks like config sync is working wrong.

For the `config/scout-records.php` like this:

[code]

After syncing index settings with `php artisan scout:sync` I'm getting the following response in algolia backend search form - https://nimb.ws/ub1wrT

So in this case "make" field is not searchable, which I believe is wrong.

---

For the `config/scout-records.php` like this:

[code]

After syncing ind

[2019-01-22 20:09] nunomaduro commented on #122
Thanks for reporting this.

There is no issue, the `ordered` function doesn't exist. Since `orderer` is the default behavior.

You can use `unordered(make)` if you want to have that attribute unorderer.

[2019-01-22 20:12] antongorodezkiy commented on #122
Then I believe the only change is the change for the instructions in the comments in generated config file:

[code]

https://github.com/algolia/scout-extended/blob/master/resources/views/config.blade.php#L15

[2019-01-22 20:13] nunomaduro commented on #122
You are right, I am going to fix this now 👍

[2019-01-22 20:17] nunomaduro commented on #122
Thanks! It's fixed now.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-01-22 20:17] #122 closed

[2019-01-24 15:40] bhulsman opened #123 "Index configuration file per environment"
Let's assume we have an `articles` index and on our local machine we've set `SCOUT_PREFIX=dev_`. This is to prevent screwing up the indexes for our production environment. On production, we might have set the prefix to `prod_` or aren't using a prefix at all.

So to add our index configuration to version control we run `php artisan scout:optimize` and a `scout-dev-articles.php` configuration file

[2019-01-24 16:03] nunomaduro commented on #123
Thanks for bring this into our attention. I don't have time, at the moment, to think about a solution for this. Any ideas?

[2019-01-25 12:21] bhulsman commented on #123
Maybe add an argument to `php artisan scout:optimize`, like `--prefix=prod_` to generate the configuration file for a specific prefix?

[2019-01-25 23:31] ChristianKuri opened #124 "Can't make it work - Throwing ErrorException"
Versions:
Laravel Framework: 5.7.20
PHP: 7.2.9
Scout-extended: 1.1

I had a laravel/scout working fine but decided to upgrade and use scout-extended.

I followed the instructions and wasnt able to use it nor install it, it said there was an error because I already had laravel/scout installed and it used algolia/algoliasearch-client-php:^1.27 and scout-extended needed ^2.0.0.

I uninstalled laravel

[2019-01-28 07:55] yongkylie commented on #95
Thank you for the reply @nunomaduro! After I read the articles, I am now confused where should I initiate `setSetting()` method on (as shown here: https://www.algolia.com/doc/guides/managing-results/refine-results/sorting/how-to/sort-an-index-by-date/?language=php#creating-a-replica). Is it alongside with my model?

My current state is, I had an index that works well without any sorting. I have cr

[2019-02-02 01:22] nunomaduro opened #132 "Add compatibility with Laravel 5.8"
- we may need to pass an date interval on every cache usage.
- update composer.json to support 5.8.* illuminate components.

[2019-02-03 19:42] nunomaduro commented on #124
No worries. Checking this after my vacations, next Friday!
On Sun 3 Feb 2019 at 14:24, SPQRInc <notifications@github.com> wrote:

[2019-02-03 20:37] SPQRInc opened #133 "Searching for date time does not work"
Hello everybody,

I got an record with this value:

[code]

Unfortunately I can not search for this:

[code]

[code]

does not work, too.

This result is always empty.

[2019-02-03 20:38] nunomaduro commented on #133
The published_on value must be a timestamp (int).

[2019-02-04 06:04] SPQRInc commented on #133
Hi and thank you for your reply.

Okay - this was not clear for me, because there is this example in the  docs:

[code]

(https://www.algolia.com/doc/framework-integration/laravel/searching/server-side-search/)

`now()->subDays(7)` is an instance of `Carbon`:
[code]

So is this correct? Can I compare a `timestamp` with an instance of `Carbon`?

[2019-02-04 11:41] nunomaduro commented on #133
Yes. Unless you have modified the method “toSearchableArray”.

If yes, please don’t forget to apply $array = $this->transform($array);
On Mon 4 Feb 2019 at 01:05, SPQRInc <notifications@github.com> wrote:

[2019-02-04 19:16] SPQRInc commented on #133
Hi,

`$this->transform($array);` did the trick. Thanks!

[2019-02-04 19:16] #133 closed

[2019-02-04 22:27] joedawson opened #134 "Support for simplePaginate?"
Hello,

Are there any plans to support `simplePaginate`?

With the following:

[code]

[2019-02-06 12:54] nunomaduro commented on #133
Cool!

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-02-07 08:51] #118 closed

[2019-02-07 12:03] nunomaduro commented on #124
@ChristianKuri @SPQRInc Are you still facing that issue?

[code]

[2019-02-07 12:05] nunomaduro commented on #123
It may be a good idea, could you add a Pull Request on that?

[2019-02-07 12:50] nunomaduro commented on #95
No worries, I am here for you.

To search on the replica you need to use the `within` method:
[code]

Tell me if you need something else.

[2019-02-07 14:51] ChristianKuri commented on #124
[code]

I will uninstall laralel\scout and algoliasearch-client-php^1.27 and will post my results.

[2019-02-07 14:57] nunomaduro commented on #124
@ChristianKuri Ok. Waiting 👍

[2019-02-07 15:11] ChristianKuri commented on #124
It is working now, but is not listening to my toSearchableArray() function so its passing all the model data, will check whats happening, thanks.

[2019-02-07 15:13] nunomaduro commented on #124
All good.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-02-07 15:13] #124 closed

[2019-02-07 16:25] bhulsman commented on #123
Sure, will do!

[2019-02-08 10:16] bhulsman commented on #123
@nunomaduro So far I can think of three approaches;

1. Override the prefix set in configuration, before generating the config file. However that doesn't work.

[code]

2. Change the `$path` for generating the file, but checking that the file already exists would not work anymore. Besides that it's not a good solution.

3. In the end it all boils down to `searchableAs`, which is where the prefix i

[2019-02-08 10:53] nunomaduro commented on #123
The option 1 should work. Why you say that doesn't work?

[2019-02-08 10:58] bhulsman commented on #123
Might be an issue with the tests, but I get this error:

[code]

I added the code right before `foreach` in the `OptimizeCommand.php` file: https://github.com/algolia/scout-extended/blob/master/src/Console/Commands/OptimizeCommand.php#L46

[2019-02-08 11:08] nunomaduro commented on #123
Show me the test.

[2019-02-08 11:10] bhulsman commented on #123
Sure:

[code]

[2019-02-08 11:16] nunomaduro commented on #123
You need also add this while creating the mockIndex:
[code]

Reason: The mock created is being created with the index without the custom prefix.

[2019-02-11 08:14] nunomaduro opened #136 "Add support to Laravel Scout 7.0"
We are currently depending on `"laravel/scout": "^6.1.1"`. Would be great if we could add support also to Laravel Scout 7.0.

Normally, we just have to edit the `composer.json` to add support to Laravel Scout 6 and Laravel Scout 7 at the same time.

[2019-02-11 09:02] #136 closed

[2019-02-11 17:10] ImSuperlative opened #139 "Map model names"
Would be nice if you could map model names similar to how morphMap works.
https://laravel.com/docs/5.7/eloquent-relationships#custom-polymorphic-types

Very helpful if you need to move a model or not wanting to expose the path.

[2019-02-12 02:24] relocity-rd opened #140 "Add method to delete remote index"
Hello Algolia Team,

**Overview**
Currently there is a static method for making all Aggregated Models Searchable, but there isn't a method for making them all unsearchable.

**Use Case**
For unit tests with the Algolia scout driver, we create dummy records that are searchable.  At the end of the test, we make the Model unsearchable.  **Unless there is a way**, we are unable to make Aggregator unse

[2019-02-12 05:09] mozammil commented on #100
Hi, I'd love to see this getting implemented. I took a crack at it and was able to change the _ModelResolver_ to also include the rankingInfo.

However, I am pretty sure that there must be a much more efficient (and probably easier) way of getting this done.

[2019-02-12 09:23] mozammil opened #142 "Collection::unsearchable() does not delete objects from my index."
Hi @nunomaduro

The `Algolia\ScoutExtended\Jobs\DeleteJob` uses `deleteBy` internally to make a Collection unsearchable.

[code]
However, based on the [documentation](https://www.algolia.com/doc/api-reference/api-parameters/tagFilters/), this will use the conjunction **AND** to find the items, whereas we are probably looking for **OR**.

I just gave this a try by sending a batch delete job and it

[2019-02-12 10:43] nunomaduro commented on #100
@mozammil Just perform a Pull Request with the POC you have develop and let's work together from that.

[2019-02-12 12:22] nunomaduro commented on #142
Yes. You are right. Well spoted!

Can you perform a Pull Request, and update tests please?

[2019-02-12 12:29] #142 closed

[2019-02-12 12:42] nunomaduro commented on #142
This issue was being fixed on the version `v1.3.1`. Thank you!

[2019-02-12 12:45] nunomaduro commented on #140
I am sorry, could you re-phrase your issue?

[2019-02-12 12:57] mozammil commented on #100
I am currently in the process of relocating to another country and I'm afraid I won't be able to work on it until after 2 weeks. This will take slightly more time to get done.

If somebody else hasn't already worked on it before then, I'll submit a PR. Thanks 👍

[2019-02-12 17:01] relocity-rd commented on #140
Sure @nunomaduro.  This is a feature request.

Let's say we have a News Aggregator (like the class below):
[code]

Let's run a unit test where we create an Article & Event and at the end of the test, we want to clean up the indexes.

[code]

The feature request is to add a method to `Algolia\ScoutExtended\Searchable\Aggregator` that allows the Aggregator index to be flushed from Algolia.

[2019-02-12 17:04] nunomaduro commented on #140
Thanks, understood.

What you do today to flush the index?

[2019-02-12 17:06] nunomaduro commented on #140
Could you give a try to `News::removeAllFromSearch();` ?

[2019-02-12 17:12] relocity-rd commented on #140
Yes that (`News::removeAllFromSearch();`) is what I'm doing now, but it only deletes all records within that Algolia index, but does delete the index entirely like it does on the single Models.

[2019-02-14 08:23] nunomaduro opened #148 "Using multiple Algolia Accounts"
Explain how to use multiple Algolia Accounts with a tutorial or add this feature on the code itself.

[2019-02-14 09:35] nunomaduro commented on #140
Can you re-phrase this? I am sorry 👍

```Yes that (`News::removeAllFromSearch();`) is what I'm doing now, but it only deletes all records within that Algolia index, but does delete the index entirely like it does on the single Models.```

[2019-02-14 18:29] relocity-rd commented on #140
When you call, `News::removeAllFromSearch();`, the records that are indexed in Algolia are removed. However, the actual `index` that holds the records is not deleted.

[2019-02-14 18:30] nunomaduro commented on #140
Ahhh. You Algolia will contain an empty index you mean right? Records got
deleted but the index is still present?
On Thu 14 Feb 2019 at 19:29, relocity-rd <notifications@github.com> wrote:

[2019-02-14 18:35] relocity-rd commented on #140
Exactly!

On Thu, Feb 14, 2019 at 10:30 AM Nuno Maduro <notifications@github.com>
wrote:

--
Rocky Demoff
Head of Technology

10250 Constellation Blvd., Suite 100
Los Angeles, CA 90067
1-855-RELOCITY
www.relocity.com

[2019-02-15 08:48] #132 closed

[2019-02-17 07:40] mozammil opened #149 "What is the purpose of searchable() on the Aggregator class?"
Hi @nunomaduro

This is more of a question. I stumbled upon this on `Algolia\ScoutExtended\Searchable\Aggregator`.

[code]

I am assuming it is used to make an Aggregator searchable. However, it can't be called directly as it throws an exception. I also can't seem to find where this is being used.

On the other hand, it would seem like we already have a `makeAllSearchable()` static method that wor

[2019-02-19 09:06] nunomaduro opened #150 "Refactoring needed in class `Algolia\ScoutExtended\Settings\LocalFactory::class`"
The class `Algolia\ScoutExtended\Settings\LocalFactory::class` is responsable to detect settings out of Laravel models. We should consider a re-write this logic, and split it into multiple classes.

[2019-02-19 09:10] nunomaduro opened #151 "PHP Code Quality Tool: PHPMD"
PHPMD will display the possible bugs and misuses of the language in our package. We should `require-dev` it.

**Goal**: Study this tool and perform a Pull Request including this tool on `require-dev` and updating `travis.yml` if possible.

[2019-02-19 09:15] #151 closed

[2019-02-19 09:22] nunomaduro opened #152 "Create a playground"
This **goal** is perform a pull request on the https://github.com/algolia/api-clients-playground repository inside the `laravel-scout-extended` folder an Laravel Application with Scout Extended Installed on it.

People should be able to clone the project locally and start playing with Scout Extended easily.

[2019-02-19 09:33] nunomaduro opened #153 "Deep analyse the `HtmlSplitter::class`"
The **goal** is study how useful the current implementation of the `HtmlSplitter` can be. Taking real articles writing in HTML and analyse if they can be splitted correctly using our HtmlSplitter.

After discussion, you may want to perform a Pull Request improving the current implementation.

[2019-02-20 10:01] nunomaduro commented on #100
Added in the next version.

[2019-02-20 10:22] nunomaduro opened #154 "Current master branch sends '_highlightResult', '_rankingInfo' to Algolia in updateJob"
This bug was introduced on https://github.com/algolia/scout-extended/pull/147. An `UpdateJob` will try to attach  '_highlightResult', '_rankingInfo' to an record. Code to reproduce:
[code]

**Goal**: We need to think about attaching this information somewhere else.

[2019-02-20 11:05] mozammil commented on #154
Hi nuno,

When I was working on this feature, I added the ranking information as an attribute on the model itself.

However, it doesn’t make sense to put it there and switched it over to ScoutMetaData.

If I may provide a suggestion: can’t we have a similar property like ScoutMetaData. Maybe call it AlgoliaMetaData?

What do you think?

[2019-02-20 12:10] nunomaduro commented on #154
Thansk for answering @mozammil.

We don't have control over the `Searchable` trait. Adding a attribute may don't work. Any other idea?

[2019-02-20 12:49] mozammil commented on #154
Right. I'm not sure in this case.

We could explicitly remove those keys (_rankingInfo, _highlightResult) if they are present in the scoutMetadata while updating the object.

However, there might be a reason for someone to still want to index those keys, in which case, maybe they would need to explicitly add it as a model attribute before calling searchable?

What do you think?

[2019-02-20 13:57] nunomaduro commented on #154
@julienbourdeau @rayrutjes Any sugesttions on this?

[2019-02-20 14:40] rayrutjes commented on #154
I think that @mozammil's suggestion is fine as a first iteration.
It is very unlikely that someone would want to index `_rankingInfo`, `_highlightResult`, so always removing those if present makes sense.

Then only the day we have someone willing to index those fields I would think more about it?

[2019-02-20 14:49] nunomaduro commented on #154
Sounds good. Thanks @rayrutjes for your input on this. @mozammil I am also fine with: ```
explicitly remove those keys (_rankingInfo, _highlightResult)
[code]

[2019-02-21 08:13] #154 closed

[2019-02-22 09:21] mozammil commented on #100
Hi @nunomaduro @janmaarten

I think this can be closed now since it has been added to 1.4 via #147.

[2019-02-22 09:59] nunomaduro commented on #100
You are right, there is just documentation mission. So let's keep this open until then.

[2019-02-27 08:43] nunomaduro commented on #56
Thanks to @AndreyBrazhnyk this issue has been fixed.

[2019-02-27 08:43] #56 closed

[2019-02-27 22:53] hailwood opened #158 "Aggregate is casting numbers?"
I have a model where we have a field, "line_id" the db type is string..
This looks like a number but it's not as we have e.g. "831", but we also have "062", the leading zero is important.

Our models `toSearchableArray` looks like this (Model is DDI):

[code]

scout:import against the model works fine and in the index we see
![image](https://user-images.githubusercontent.com/709773/53528546-c16aca

[2019-02-28 00:00] nunomaduro commented on #158
That happens because you are using the method `$this->transforms`. Please read this documentation: https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-searchable-data/?language=php#transformers.

[2019-02-28 20:22] hailwood commented on #158
Interesting, That makes sense,

I'm curious then why would it **not** be casting the single model algolia import to a number given the `toSearchableArray` is on the model?

[2019-03-01 21:29] edwardsides opened #159 "Aggregate searchableAs equivalent"
Is there are searchableAs equivalent for aggregates so we can separate local vs production like we do with models?

eg:
local_All
production_All

[2019-03-06 17:43] nunomaduro commented on #159
@edwardsides Does not work out of the box?

[2019-03-06 17:43] nunomaduro commented on #158
Can you re-phrase your question?

[2019-03-10 10:23] hailwood commented on #158
Well,

As shown above, we have the `toSearchableArray` method on the model (Eloquent) which uses the `transform` method.

Next we have an Aggregate defined.

We're sending both these things up to Algolia, yet only the aggregate has the casting happening.
Surely if it's the `transform` method doing the casting, it should affect both the single-model-type index, and the aggregate index?

[2019-03-11 09:59] nunomaduro commented on #159
This is the code of the `searchableAs` in aggregators:
[code]

So normally, it should take in consideration the defined `scout.prefix`: https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-index/?language=php#custom-index-name.

[2019-03-11 10:01] nunomaduro commented on #158
This is the `toSearchableArray` method of aggregators. It calls the base model `toSearchableArray` behind the scenes.

[code]

So yes, it should affect both the single-model-type index, and the aggregate index?

[2019-03-11 13:13] edwardsides commented on #159
Thanks @nunomaduro I will check it out this week.

[2019-03-11 14:29] nunomaduro commented on #159
No worries, if you still have the issue fell free to ask to re-open this issue.

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://github.com/algolia/scout-extended](https://github.com/algolia/scout-extended) and tells us your favourite feature!_ 🚀

[2019-03-11 14:29] #159 closed

[2019-03-18 10:50] JayBizzle opened #160 "Forwarding client IP address"
We currently have a very simple aggregate keyword search that works something like this...

[code]

We noticed that in the Algolia statistics, it looks there there is only one user of the search, but it turns out this is because we need to forward the users IP address.

The API docs say that you should do something like the following to forward the IP address, but how does this fit with our code a

[2019-03-18 10:57] JayBizzle opened #161 "$model->searchable() does not update aggregates"
I'm not sure if this is just a limitation of this package, but when calling `searchable()` or `unsearchable()` directly on a Model, any aggregators that the Model is part of do not get updated.

Not sure if there is an easy fix for this, but for now we just do the following...

[code]

[2019-03-18 11:05] nunomaduro commented on #160
That's a great feature that currently it may be hard to use Scout Extendet.

Do you wanna work in a pull request for this with me? It idea may be resolve the client out of the container allowing people to bind their own implementation of the client: https://github.com/algolia/scout-extended/blob/f3475be9279dce705d438b74f97d91195f5e4409/src/Managers/EngineManager.php#L32.

[2019-03-18 11:07] nunomaduro commented on #161
@JayBizzle Have you added this into your service provider?

[code]

[2019-03-18 11:10] JayBizzle commented on #161
Yes, we have done that 👍

[2019-03-18 11:13] JayBizzle commented on #160
@nunomaduro Yes, would definitely be interested in working together on a solution to this issue 👍

[2019-03-18 11:25] nunomaduro commented on #160
@JayBizzle Actually, it's already possible. Try this:

[code]

[2019-03-18 11:42] JayBizzle commented on #160
Thanks for the suggestion.

I have just tested that and it returns the following error

[code]

Error thrown on line 199 of `vendor/algolia/algoliasearch-client-php/src/RetryStrategy/ApiWrapper.php`
[code]

[2019-03-18 11:45] nunomaduro commented on #160
cc @julienbourdeau. It's a not allowed header in php `X-Forwarded-For`

[2019-03-18 22:28] hailwood commented on #158
@nunomaduro So I figured I'd disable the `ConvertNumericStringsToNumbers` transformer and just use the dates by updating my `toSearchableArray` method on my models to call

[code]

But found something strange, In the aggregator the `ConvertNumericStringsToNumbers` was still getting called.

It's because this check is failing
https://github.com/algolia/scout-extended/blob/master/src/Jobs/UpdateJob.

[2019-03-18 22:52] nunomaduro commented on #158
@hailwood Not sure if I understood. But if you are sure that there is a big here, do you mind of submit a PR with tests?

[2019-03-19 14:05] TomKlotzPro commented on #150
it's a fix or a new feature for you ? For me it's just a fix

[2019-03-19 14:11] nunomaduro commented on #150
@TomKlotzPro Neither. You should create a branch: `refacto/local-factory`. Please **write** your plan before coding.

[2019-03-19 14:23] TomKlotzPro commented on #150
My solution is to have an interface SettingAttributeInterface with one method(key,value,array)return array . Add for each different SettingAttribute class implements the interface then on factory call the object and their method.

[2019-03-20 21:33] nunomaduro commented on #161
@JayBizzle Can you try investigate the bug please?

[2019-03-21 07:39] JayBizzle commented on #161
Isn't the issue that the Aggregates register Model event listeners, and get fired when Models are `saved` and `updated` etc, but when calling `$model->searchable()` or `$model->unsearchable()` the Model doesn't actually change, so no events are fired, hence the Aggregate doesn't get updated?

[2019-03-21 08:45] TomKlotzPro commented on #153
I'm on it.

[2019-04-01 21:14] borealsmith opened #169 "Undefined property: Illuminate\Cache\Events\KeyWritten::$minutes"
Hi,
I am using Laravel 5.8 and Scout-extended 1.6.

My Sentry reports shows that this line of code

api-key="<?php echo e(Algolia\ScoutExtended\Facades\Algolia::searchKey(App\MyModel::class)); ?>"

Generates this error

Notice: Undefined property: Illuminate\Cache\Events\KeyWritten::$minutes

Have I miss something in the packages configuration ?

Thank you very much.

[2019-04-01 21:23] borealsmith commented on #169
` api-key="<?php echo e(Algolia\ScoutExtended\Facades\Algolia::searchKey(App\MyModel::class)); ?>"`

[2019-04-02 07:55] nunomaduro commented on #169
Can you send me the full error stack trace?

[2019-04-02 14:37] borealsmith commented on #169
Sure. Please see one example below.

ErrorException: Undefined property: Illuminate\Cache\Events\KeyWritten::$minutes
#77 /vendor/laravel/telescope/src/Watchers/CacheWatcher.php(83): Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
#76 /vendor/sentry/sentry/src/ErrorHandler.php(194): Sentry\ErrorHandler::handleError
#75 /vendor/laravel/telescope/src/Watchers/CacheWatcher.php(83): Lara

[2019-04-02 18:54] nunomaduro commented on #169
You need to update your telescope package: https://github.com/laravel/telescope/issues/563.

[2019-04-03 11:18] borealsmith commented on #169
Thank you very very much.

[2019-04-03 12:14] #169 closed

[2019-04-04 12:25] borealsmith commented on #103
Hi, @nunomaduro

I have some thine to work on this one these days. Still I have one question. Is there a method to check if an index is empty ?

I was thinking of going along these lines

`if ($temporaryIndex->isEmpty() {
$currentIndex->clearObjects();
} `

What do you think ?

Thank you,

[2019-04-08 10:27] nathanblogs opened #171 "[Bug] scout:reimport moves index too soon, multiple race conditions"
If you are using a queue to reimport into algolia that isn't FIFO eg AWS SQS, there is a very high chance of hitting a race condition where you move the temp index to the real index without pushing all the data into the new index. I've seen examples of 5-10% of the records missing.

Also depending on how long the reimport takes and how frequently you are updating records it seems like there is a h

[2019-04-08 12:04] nunomaduro commented on #171
Hi @nathanblogs. Thanks for reporting this issue.

A solution for your issue would be setting the `scout.synchronous` to `true`. Using:
[code]

If it works, do you mind of creating a pull request adding this as optional argument on the `reimport` command?

[2019-04-09 19:25] JayBizzle commented on #160
Any progress on this?

Thanks

[2019-04-10 07:52] nunomaduro commented on #160
@JayBizzle Sorry for the late response.

Try like this:
[code]

[2019-04-10 08:34] JayBizzle commented on #160
Awesome, looks like that solution is working. Thanks 👍

[2019-04-11 05:39] nathanblogs commented on #171
where does `scout.synchronous` come from it doesn't seem to be declared anywhere ?

[2019-04-11 07:33] nunomaduro commented on #171
It's not declared, that's why the configuration option that is `false` by default.

When is `true`, we actually wait for the `saveObjects` to finished before moving to the next one: https://github.com/algolia/scout-extended/blob/f3475be9279dce705d438b74f97d91195f5e4409/src/Jobs/UpdateJob.php#L139.

Give it a try, and tell me if it solves your problem.

[2019-04-11 09:29] nathanblogs commented on #171
I'm not sure how UpdateJob is relevent ?

I can't see how that would help, isn't it calling the existing scout function makeAllSearchable.
https://github.com/algolia/scout-extended/blob/9aa937089343c05460252b9a438c670b7beebabb/src/Console/Commands/ReImportCommand.php#L81

This intern calls searchable in batches which dispatches jobs.

After that there is a moveindex.
https://github.com/algolia/sco

[2019-04-11 09:37] nunomaduro commented on #171
Problem finally understood.

I will try to investigate this during the next couple days.

[2019-04-17 08:29] TomKlotzPro commented on #152
The playground was added here : https://github.com/algolia/api-clients-playground

This issue can be closed. @nunomaduro

[2019-04-17 08:29] #152 closed

[2019-04-17 11:18] JayBizzle commented on #160
Just as an FYI

if you do the following with `paginate()` rather than `get()`, no matter what value you pass the `paginate()` method, you ALWAYS get 20 results

[code]

All the pagination values like `perPage` will be correct, but there will actually be only 20 results in the Collection.

Not sure why? Perhaps i need to pass something to `$options` in the callback?

[2019-04-17 11:43] nunomaduro commented on #160
I am not sure buddy, can you try to debug it?

[2019-04-17 11:45] JayBizzle commented on #160
Yes, we have it on our list to look into when we have some spare time, just on with other projects at the moment 👍

[2019-04-17 19:56] JayBizzle commented on #160
Had a chance to look into this a little further. I don't particularly think this is a bug, but it is a bit awkward how the code has to be put together to get it to work as expected...this is what works...

[code]

We have to pass the `hitsPerPage` parameter to the callback as well as pass it to the paginate method. Can't see a way to make this any cleaner at the moment, but at least it works 😕

[2019-04-18 10:56] TomKlotzPro commented on #171
I'm taking this issues @nunomaduro

[2019-04-18 15:19] nunomaduro commented on #160
In your example, the `$options` is being ignored.

[2019-04-24 09:54] nunomaduro commented on #149
Tasks to perform here:

1. Understand what happens when you call `searchable` or `makeAllSearchable` directly from an aggregator. If those methods can't be call directly, we should override them and thrown an custom exception.

[2019-04-24 22:22] tobz-nz commented on #123
I've been thinking - and I think its relevant to this issue - why are config files split out by env anyway?
Should you been using the same settings across your environments? I know I always do I want my local/staging/production env to have the same searchable & facet fileds for example. having to make those changes in each file seems redundant.

Personally I'd prefer a single config per index. Sim

[2019-04-25 08:07] bhulsman commented on #123
Seems fine, if you can still keep the different prefixes for prod/dev etc. in the .env file. But I agree, configuration of searchable fields should be the same on both environments.

[2019-04-25 16:27] torrancemiller commented on #171
I got it to work by turning-off the queue entirely.

**Example:**
`
config(['scout.queue' => false]);
\Illuminate\Support\Facades\Artisan::call('scout:reimport "App\\\\Models\\\\Thread"');
	    config(['scout.synchronous' => false]);
config(['scout.queue' => true]);
`

[2019-04-25 16:31] torrancemiller commented on #171
Hopefully your reimports are as rare as mine. I had to make a structural change to everything in an index and added the above to a migration up() method so that I don't have to remember to SSH in to prod when a batch of changes get deployed.

[2019-04-26 07:41] nunomaduro commented on #171
@torrancemiller Maybe we can work in a pull request together on this no?

[2019-04-26 09:42] nathanblogs commented on #171
@torrancemiller that solution doesn't resolve the race condition that can occur unless you put your system into read only model or maintenance.

Basically what can happen is:
1) you start the scout:reimport
2) model id 1 gets push to algolia new temp index.
3) model id 1 gets update in your system
4) scout:reimport finish moving the temp index over the real index

Which is a race condition you now

[2019-04-26 15:11] TomKlotzPro commented on #149
Hi @mozammil !
Thanks for reporting this.

Can you send me the snippet of code you are writing in order to use searchable method. And the exception you get.

[2019-04-26 21:10] torrancemiller commented on #171
@nathanblogs

I do not believe there is a technical solution to that soft of thing.
I would recommend doing this during a service maintenance window, and close to never on production servers.
However, if you did have to do this in production, I recommend running the `php artisan down` command to block incoming requests to your server while the reimport runs.

If that is not an option, you will nee

[2019-04-26 21:18] torrancemiller commented on #171
@nunomaduro well, I suppose there may be much more elegant fixes if they were to be incorporated into the package. I wish I had more free time to would see if there may be a surgical fix here.

[2019-05-06 11:47] TomKlotzPro commented on #100
we can close it now.

[2019-05-06 11:47] #100 closed

[2019-05-14 08:47] nathanblogs commented on #171
@torrancemiller of course there are technical solutions to this.

I believe the easiest solution would be to update UpdateJob function to add a sha1/md5 hash to the array returned by `toSearchableArray()`.

Then we could update ImportCommand to do a sync instead of a full import:
-  chunk the searchable model on setting `scout.chunk.searchable`.
- fetch objects from algolia for this chunk, if miss

[2019-05-23 15:14] pdmshrestha commented on #95
Hi, How to set settings for replica.

Configuration
`
// conifg/scout-articles.php
<?php
return [
    'searchableAttributes' => [ 'title',  'content', ],
    'customRanking' => ['desc(published_at)'],
    'removeStopWords' => null,
    'disableTypoToleranceOnAttributes' => ['title', 'description'],
    'attributesForFaceting' => null,
    'unretrievableAttributes' => null,
    'ignorePlurals' => n

[2019-05-24 15:19] yongkylie commented on #95
@pdmshrestha

1. Log in to your account at Algolia website.
2. Go to Indices menu.
3. If you haven't have a replica, go create one by pressing New > Replica beneath indices title.
4. Go to the replica indices then click on Configuration sub-menu.
5. Click Ranking and Sorting, and add a new searchable attribute (which is created_at).

[2019-05-27 08:20] pdmshrestha commented on #95
@yongkylie Yes, I know that how to do and I have done that. But I was asking how to do that locally and sync with `php artisan scout:sync` to sync with remote configuration. For default index the settings are synced properly but I have issues with replicas only.

[2019-05-27 10:13] nunomaduro commented on #95
@pdmshrestha Undertood your issue, can you create an issue with the feature request plz?

[2019-05-27 11:24] pdmshrestha opened #188 "Synchronize replicas's settings locally with scout:sync"
We can define the index settings in its dedicated settings file, but there is no way to define replicas's settings. (at least not in documentation).

This following is example of Article Model setting which was generated by `php artisan scout:optimize`. The following settings are synced with remote configuration when I run `php artisan scout:sync`.
[code]
It would be nice to have similar settings

[2019-05-28 16:42] homeoftheunits opened #189 "Problem with import to scout"
Hi there,

i have an Aggregator:
[code]

For Example, in the Calendar Class i have an shouldBeSearchable() and a toSearchableArray() Function:
[code]

The artisan command  scout:status give me the following information:
[code]

And when i run the scout:import command, i get an output like this:
[code]

But i have no records in Algolia, only the index calendars. What do i wrong?

Cheers
Ralf

[2019-05-28 18:07] nunomaduro commented on #189
@homeoftheunits Have you installed correctly Algolia? https://www.algolia.com/doc/framework-integration/laravel/getting-started/installation.

You may need to run `php artisan config:clear` afterwards.

[2019-05-28 19:03] homeoftheunits commented on #189
Ok, this works, Thank you!. Is it possible, to rename the Algolia Index for that the Aggregator? So, when the Aggregator is named "Calendar" and i have an stage system, i name the Calendar Aggregator Index stage_calendar, live_calendar and so on

[2019-05-28 19:18] homeoftheunits commented on #189
Ok, it works. Thank you

[2019-05-28 19:18] #189 closed

[2019-06-04 11:04] royduin commented on #123
I'd like to hook on, I'm coming from https://github.com/algolia/laravel-scout-settings where I did `php artisan algolia:settings:backup "App\Product"` once to generate the configuration so I can version control it. In deployments I've `php artisan algolia:settings:push "App\Product"` to make sure any configuration changes are deployed to all environments. I didn't use the `--prefix` option because

[2019-06-04 21:59] tobz-nz commented on #123
Totally this 👆
Only one version is needed - I will never (I don't think) want different configurations.
The whole point is to sync the configs so they are all the same. Currently a bunch of manual work is required to do this.

[2019-06-05 07:44] bhulsman commented on #123
Fixes my issue too, as long as I can add a prefix to my .env file for separate development/production.

[2019-06-05 07:48] nunomaduro commented on #123
Thanks for all this feedback folks! We are going to tackle this end of this month. 👌🏻

[2019-06-05 08:24] nunomaduro commented on #140
Action: Add a macro on the every searchable model that gives direct access to the `SearchIndex` instance.

Later, the developer will be able to:
[code]

[2019-06-05 09:00] nunomaduro commented on #103
Issue: If the there is no searchable models, the ReimportCommand will not move the temporary index to production.

Goal: Understand the problem and add a workaround to fix the issue.

Tip: Maybe clear the production index using `$index->clearObjects();` can be a solution.

[2019-06-06 22:08] borealsmith commented on #103
Thank you @nunomaduro. That is the spirit of the related WIP PR https://github.com/algolia/scout-extended/pull/186

[2019-06-09 20:31] mozammil commented on #149
Hey @TomKlotzPro,

Sorry for the late reply. I posted this question a while ago. Apologies if I don't remember the exact details, but it would seem the abstract class `Aggregator` has two public methods `searchable()` and `unsearchable()` when called both throws an exception unlike the `makeAllSearchable()` static method.

[2019-06-11 04:31] nathanblogs commented on #171
Any thoughts ?

[2019-06-13 09:11] dorin-niscu opened #190 "The relationship is not added at creation"
PHP: 7.3
Laravel: 5.8
Laravel Scout: 7.1
Algolia Scout extended: 1.6

[code]
Scout import works fine, all instances are in sync.

On update the sync works fine, $touches does the job.

[code]
**_On store the content relation is null and not updated when is created._**

[code]

[2019-06-27 02:01] wisoot opened #192 "Empty searchable array is indexed with only meta data."
Similar to the bug report in scout here: [#350](https://github.com/laravel/scout/issues/350) - if meta data is not empty due to the setting to switch on soft_delete in `scout.config.soft_delete`.

In this line here: https://github.com/algolia/scout-extended/blob/v1.6.0/src/Jobs/UpdateJob.php#L109 checking on emptiness of searchable array should be perform separately from metadata as it will always

[2019-06-27 08:04] nunomaduro commented on #192
@wisoot Do you think that you are able to do a pull request with tests on this?

[2019-07-03 01:10] wisoot commented on #192
@nunomaduro Here is the PR: https://github.com/algolia/scout-extended/pull/193

[2019-07-12 15:20] chloelbn commented on #149
Hey @mozammil,

Indeed, both the methods `searchable()` and `unsearchable()` are not meant to be called by themselves. They’re used in the event of updating / deleting an Aggregator. We will take your remark into consideration and add an `@internal` flag to make it clearer they are not supposed to be used publicly. Thanks for your question, I’m closing this issue now.

[2019-07-12 15:20] #149 closed

[2019-07-17 15:56] chloelbn commented on #140
Hello @relocity-rd,

Thanks for your message. Regarding your issue, you have a way to call directly the index from anywhere in Scout Extended using the `AlgoliaSearch\Index` class. Once you have the index, you can instantiate it and delete it easily. You can refer to [that part](https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/access-api-directly/?language=php#algoliain

[2019-07-17 15:56] #140 closed

[2019-08-03 03:21] sgilberg opened #195 "Command scout:reimport requires use of scout.prefix config to work as intended"
I just installed scout-extended in an app that previously had Scout installed. Per the installation instructions, I ran `php artisan scout:reimport "App\MyModel" locally to regenerate the index. At the end of the process, it stated that all records were imported successfully, however the index was empty! I tried running it a second time, this time attempting to monitor progress in my Algolia dashb

[2019-08-04 17:18] marcosdipaolo opened #196 "Scout extended and repeated items"
I’m using Scout extended library which is great to split long records and avoid Algolia complaining about it. However the problem is when you search, say, the title of a post you get all the records od the diferent parts of that post. any way to filter that to avoid repeated matches?

[2019-08-05 07:21] Haroenv commented on #196
Hi! You can use the [distinct](https://www.algolia.com/doc/api-reference/api-parameters/distinct/) feature to deduplicate items at query time. This works by configuring an attribute which will be the same for all records within the same group, and then at query time only retrieving one record of that collection.

[2019-08-05 16:26] nunomaduro commented on #196
Exactly as @Haroenv said. You may want to check the docs on Laravel here on the topic distinct: https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/split-large-records/?language=php

[2019-08-05 16:26] #196 closed

[2019-08-05 21:25] marcosdipaolo commented on #196
OMG thanks a lot! I did not know that!

[2019-08-06 16:32] chloelbn commented on #195
Hello,

Thanks for reporting this issue!

So we can better understand what's going on and dig into this together, could you to give us reproducible steps, as well as a code snippet of your model for example, or anything that could be of relevance to reproduce your issue?

Looking forward for your reply,

[2019-08-06 17:33] sgilberg commented on #195
Thanks @chloelbn, here's a redacted snippet of my model:

[code]

Reproducible steps:
1)  Populate 'my_custom_index_name' index from existing model instances
2) Run `php artisan scout:reimport`
3) Check content of 'my_custom_index_name' (this would now be empty)

To fix:
1) Set SCOUT_PREFIX to blank string in .env
2) Update searchableAs() method above to:

[code]
3) Rerun `php artisan scout:reimpo

[2019-08-07 08:12] chloelbn commented on #195
Hi @sgilberg, thanks a lot for your quick answer! Could you confirm as well what you are using to populate 'my_custom_index_name' at first?

Have a good day,

[2019-08-07 13:54] sgilberg commented on #195
Sure, it's an Algolia index, and I was populating it using the regular scout:import command before.

[2019-08-13 21:30] jrseliga opened #197 "Retrieving facets and values"
Is it possible to retrieve the facets and available values when executing a search similar to how the Instant Search component libraries work?

[code]

Looking over the documentation, it seemed like [with](https://www.algolia.com/doc/framework-integration/laravel/searching/server-side-search/?language=php#with) could be useful. e.g.

[code]

This doesn't seem to return that information though, is

[2019-08-28 15:47] chloelbn commented on #195
Hello @sgilberg, sorry for the delay. We are working on the issue right now and will keep you posted when we find a good solution. Thanks for your patience.

[2019-09-04 14:27] nunomaduro commented on #58
It's a good idea, but no plans for this at the moment. 👍

[2019-09-04 14:27] #58 closed

[2019-09-04 14:35] nunomaduro commented on #197
You will need to use the method `raw`:

[code]

The `$results` variable will contain all the information you need.

[2019-09-04 14:35] #197 closed

[2019-09-04 17:01] shirshak55 commented on #58
Yea its fine I also stopped using Laravel Nova :D

[2019-09-08 06:31] bkilshaw opened #200 "[bug] Passing an empty array to ->whereIn() ignores the whole statement"
If you pass an empty array as the second argument in a `->whereIn()` the whole statement appears to be ignored.

[code]

I would expect that to return no results, since there's nothing being passed in. However, in practice it ignores it completely and returns the same results as `App\Model::search($query)->get()`

[2019-09-08 20:21] nunomaduro commented on #200
Do you think you can work in a pull request on this?

[2019-09-09 12:17] nouce opened #201 "Can't get the right results"
Hi there,

I can't get scout working properly with algolia.

I added the client relationship to the searchable array:

<img width="458" alt="Schermafbeelding 2019-09-09 om 14 14 04" src="https://user-images.githubusercontent.com/45368779/64529849-1c565900-d30c-11e9-939c-368a5b2575eb.png">

And want to search for these attributes:

<img width="788" alt="Schermafbeelding 2019-09-09 om 14 15 17" src=

[2019-09-16 10:49] finalgamer opened #202 "Why is the Record deleted before updating?"
In https://github.com/algolia/scout-extended/blob/db5bd4135c66738b79450d20fc6368a97fc8175e/src/Jobs/UpdateJob.php#L137 a request to delete the object from the search index is sent. One line below is the actual `updateObject` action is then sent to Algolia.

Why is the object deleted before the update?

Due to this every update does also trigger a delete query doubling the amount of operations made

[2019-09-16 10:54] nunomaduro commented on #202
Normally, we just send a delete if there is something that needs to be deleted: https://github.com/algolia/scout-extended/blob/db5bd4135c66738b79450d20fc6368a97fc8175e/src/Jobs/DeleteJob.php#L49.

Do you have a use case where you are being impacted by this? If yes, can you detail it?

[2019-09-16 11:21] finalgamer commented on #202
I have done some more digging and found that this is caused by my Eloquent Model having a splitter for a property.

For a more concrete example. We are storing news articles which may have a `body` property larger than the Algolia index size. Because of that we do split the body just before the limit is reached.

I assume your intention with deleting the records is to ensure all split records are

[2019-09-16 12:12] nunomaduro commented on #202
@finalgamer You described perfectly the implementation. Is exactly that.

We don't have nothing in place to `reduce this to one operation`. Any ideas?

[2019-09-16 12:17] finalgamer commented on #202
My workaround would be to store the amount of records it generates in the database with the model and when updating the record the new count and last count are compared.

 - If the count is the same only execute update.
 - If the new count is more only execute update.
 - If the new count is less, execute delete and update.

My other workaround which might work in my case is to remove the splitting

[2019-09-16 13:45] nunomaduro commented on #202
Would be willing to code and add this feature?

[2019-10-02 06:07] pdellepiane opened #203 "Where method only allows numbers"
I'm getting the following error: Invalid syntax for numeric condition

This is because on the "where" comparison is trying to parse an integer and I have a string.

My IDs are tokens so they are a mix of numbers and letters.

Is there a way out of this?

[2019-10-02 07:57] nunomaduro commented on #203
To confirm, the `where` method in Scout (Laravel) and Scout-Extended (Algolia) is used for numeric comparison as stated in each of these sections:

- https://laravel.com/docs/5.8/scout#where-clauses
- https://www.algolia.com/doc/framework-integration/laravel/searching/server-side-search/?language=javascript#where

So it is indeed a syntax error to compare attributes that are not numeric. (i.e null

[2019-10-02 07:57] #203 closed

[2019-10-06 22:38] tobz-nz commented on #123
Any news on this issue?

[2019-10-08 08:46] guerinj opened #204 "I can't find an easy way to git the indices configuration"
Hi,

We have recently upgraded to scout-extended from v1. Previously we used to store the indices config in our code base.

But with the new scout:sync behaviour, the configuration files contains the prefix.

On my dev configuration I prefix all  indices with `dev_` so all configuration files are `scout-dev-foo.php`

But to update the production configuration upon deployment, I need a `scout-prod-

[2019-10-08 08:58] nunomaduro commented on #204
Not today - I am sorry.

Would you like to tackle this? How about this pull request? https://github.com/algolia/scout-extended/pull/135/files

[2019-10-11 14:46] tomworks opened #205 "Snippets missing from Scout Meta Data"
Hi

There currently doesn't seem to be a way to access snippets in meta data.

"_snippetResult" appears to be missing as an option in the ModelResolver:

[code]
Thanks

Tom

[2019-10-11 14:50] tomworks opened #206 "Not possible to access meta data of Aggregator without creating extra indice"
Hi

Trying to access Scout Meta Data not possible without creating an extra index, as per:

https://discourse.algolia.com/t/server-side-search-meta-data-not-accessible/8690/2

When using an aggregator, and try and access meta data of model, need to add the Searchable trait to the model. However this then means an extra indice is created on that model, in addition to the already established aggrega

[2019-10-11 14:56] nunomaduro commented on #206
Humm, can you try adding this code to the model you added the `Searchable` trait but you don't want to be serchable:
[code]

[2019-10-11 14:56] nunomaduro commented on #205
@tomworks Do you would like to make a pull request with the code for this?

[2019-10-11 15:24] tomworks commented on #205
Sure, what is the process? Can I create branch or do I need to fork?

[2019-10-11 15:33] nunomaduro commented on #205
You need to fork the project, modify the code, and perform a pull request.

[2019-10-14 10:03] tomworks commented on #206
Ok so that kind of works. I added shouldBeSearchable as false to models that are aggregated. The import command says it is creating extra indices and adding records. However it actually only creates the extra indice it doesn't add the records. So although not perfect that is workable.

[2019-10-14 10:49] nunomaduro commented on #206
To be honest, I think that is an advanced usage. If more people have that need, we add the docs.

[2019-10-14 10:49] #206 closed

[2019-10-29 14:09] smknstd opened #208 "Docs might warn about belongsToMany() and $touches"
When using $touches with belongsToMany relation as mentionned in [documentation](https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-searchable-data/?language=php#using-touch-feature), we can lack of update in the case of a deassociation.

With:

[code]
and in the scenario

[code]

author 2 will not be updated in algolia. Maybe doc could mention this.

[2019-10-29 15:52] nunomaduro commented on #208
Sounds a good idea, to clear understand the idea, can you write bellow a small snippet so a copy/past it into the docs?

[2019-10-31 16:57] smknstd commented on #208
#Handling deletion with belongsToMany
While using a belongsToMany relationship with a pivot table
[code]
be aware that "touches" hook is not triggered when a link is removed between two related items (for example:  `$article->authors()->detach($author)` or $article->authors()->sync([])). So you'll need to handle this additionally.

One way to do this, is to define a custom intermediate table model

[2019-11-01 10:03] nunomaduro commented on #208
I will check it next Monday. Thanks for this!

[2019-11-03 15:45] MadaniTech opened #209 "Appeding Model Path on generating ID from scoutKey with Modle"
Scout Extended is wonderful with its latest features to use Algolia Search API in laravel. But It has a bad approach to save value of Model path with ScoutKey.

On encryption it is using following in **ObjectIdEncrypter**:
` public static function encrypt($searchable, int $part = null): string
    {
        $scoutKey = method_exists($searchable, 'getScoutKey') ? $searchable->getScoutKey() : $searc

[2019-11-04 10:02] nunomaduro commented on #209
Hey @MadaniTech, what issues are caused in your side about having the model path on the objectID?

[2019-11-04 10:11] nunomaduro commented on #208
You are right. Can you add bellow this comment the documentation that should end up in the docs? Thank you for your work on this.

[2019-11-04 19:13] MadaniTech commented on #209
Thanks for the response @nunomaduro. Is this right to show the path on response while fetching the results from search query? I am writing my logics which also impact on directory path and on the fly I am showing this path as objectID in response.

[2019-11-04 20:16] nunomaduro commented on #209
Yeah - at the moment, moving the model from directory will force you to reimport all records. Maybe we can improve this in the future.

[2019-11-05 05:30] MadaniTech commented on #209
Can I modify it for the time for my project? In case please help me out. Thanks @nunomaduro.

[2019-11-05 15:33] smknstd commented on #208
I would simply move the https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-searchable-data/?language=php#relationships to a dedicated page as it doesn't fit well in "Customize Searchable Data" in my opinion and it would be easier to navigate/find in the menu.

Being able to PRs the doc would have been a lot easier :)

[2019-11-05 16:14] nunomaduro commented on #208
Sounds good. Going to mark this as docs, and handle it soon as possible.

[2019-11-10 22:50] rgehan commented on #188
That would be nice, especially when you have many replicas and you don't want to forget updating one of them.

[2019-11-12 13:18] chloelbn opened #210 "Update VueJS setup with a `config:clear` command"
As discussed in this [Discourse ticket](https://discourse.algolia.com/t/process-env-mix-algolia-app-id-not-recognized-in-laravel-vue-app/8939), it can be confusing not to know that you may have to clean the cache for your env variables to be available. It would be nice to add `php artisan config:clear` command in the docs.

[2019-12-10 00:12] abm-devmonk-purple opened #212 "Creating multiple search index records per model?"
Sometimes there are cases where multiple, customized search index records need to be created per model record. As far as I know, scout-extended only supports customizing attributes for a single search index record via the `toSearchableArray()` method, or morphing one or more of these attributes via the `split*()` methods.

I added https://github.com/algolia/scout-extended/pull/211 as a possible so

[2019-12-10 09:04] nunomaduro commented on #212
Can you give me your use case for this feature? Let's first try to see if can be done with the `split*`.

[2019-12-10 09:15] georgeboot opened #213 "[Bug] Loading all files in app()->path() will cause errors when dependencies aren't loaded"
Consider the following code from this repo: https://github.com/algolia/scout-extended/blob/ea5cec58af8f726fe1f5848082c0a5f84ffbd3b8/src/Helpers/SearchableFinder.php#L97-L101

In practice, this will load all `*.php` files . in your `app/` directory.

We have some service providers (e.g. `app/Providers/TelescopeServiceProvider`) that only load when on local. These classes depend on `laravel/telescop

[2019-12-10 10:30] nunomaduro commented on #213
Humm. I good fixed for those, would be show a warning on the class about this specific class. Can you pull request that?

Meanwhile, just be specify on your searchables: `php artisan command --searchable=model`.

[2019-12-10 10:50] georgeboot commented on #213
See #214

[2019-12-10 16:43] abm-devmonk-purple commented on #212
To simplify our situation, we have models that contain attributes over two languages. So it looks like this:

[code]

We would like to be able to output the following search index records:

[code]

[2019-12-13 10:51] nunomaduro commented on #212
Thanks,

Let's try something:

1. Using `toSearchableArray`, create a **new** `title` field that contains an array with the following content:
[code]

2. Then implement a method `splitTitle` that will split the given record based on that the title.

Let me know if this works for you.

[2019-12-15 08:31] abm-devmonk-purple commented on #212
Hi there,

Thanks for writing back. We just tried the nested approach you described and it worked! The code change we used is here: https://github.com/abhayagiri/abhayagiri-website/commit/90f8812299c08b74c022764b00fcde4398a1ce70

From the initial testing just a week ago, I recall not being able do certain queries or de-duplication using nested attributes. Did something change recently?

[2019-12-15 13:09] nunomaduro commented on #212
@abm-devmonk-purple Can you rephrase your question? I didn't understood.

[2019-12-17 06:47] abm-devmonk-purple commented on #212
@nunomaduro I recall a couple weeks ago not being to use `'attributeForDistinct' => 'text.path'`, only something like `'attributeForDistinct' => 'path'`. Was I imagining this?

[2019-12-17 06:47] #212 closed

[2019-12-17 08:52] nunomaduro commented on #212
Ha yes! You may need to use `distinct` and `attributeForDistinct` for your search do not return duplicated results, here is the doc about that: https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/split-large-records/?language=php#distinct.

[2020-01-02 15:41] nunomaduro opened #219 "Missing docs about curl extension"
Somewhere, on the php client or scout extended docs I think it's important to mention that we actually need the curl extension activated. ( is not activated on windows by default I guess )

We got some support tickets about this already.

[2020-01-08 04:44] jimbojsb commented on #171
@nunomaduro any reason not to just force SCOUT_QUEUE to be ignored when scout is invoked from this context? I don't see any other way this could possibly work.

[2020-01-08 11:24] nunomaduro commented on #171
You mean in the command itself?

[2020-01-10 17:21] dniccum opened #220 "Incorrect number of results returned when using offset and length attributes"
I am currently encountering an issue where the incorrect number of results are being returned. Using the code below, I am requesting 20 results to be returned. However after several different attempts, it appears that Algolia is only returning **19 results**.

[code]

I have also used the following code with the same result:

[code]

[2020-01-10 20:40] sarabisohrab commented on #220
Hi there.
I am a beginner and I wondered if I can do anything about this problem.
Can you explain a little about the error place in the code?

[2020-01-10 21:11] nunomaduro commented on #220
@sarabisohrab Thanks for trying to help! Let's wait for @dniccum feedback. Let me know if you need any help!

[2020-01-11 07:40] sarabisohrab commented on #220
Thanks a lot. I'll be happy if I can do even a little thing about this.

[2020-01-13 14:38] dniccum commented on #220
@sarabisohrab The error in question is the fact that I am requesting 20 results from Algolia and **only receiving 19** as I indicated in the original post; using `'length' => 20` and `'hitsPerPage' => 20` (which is essentially the same thing).

[2020-01-20 01:08] Chris1904 commented on #188
I would love to see something like this introduced, too. Is there any sort of timeline for this feature?

[2020-01-20 09:54] nunomaduro commented on #188
No ETA on this feature,  @Chris1904 do you have a proposition for this feature?

[2020-01-20 19:17] Chris1904 commented on #188
Just this weekend I dove into this package and remember from using it before, that replicas can't be controlled via version control yet. I have been collecting a few ideas to improve this package which I would gladly share soon (_dynamic index names, maybe allowing for utilizing `_tags` natively_), but need to fully understand the Algolia ecosystem before I'd waste anyone's time.

At this moment,

[2020-02-03 17:10] designvoid opened #221 "Creating a searchKey throws errors"
Hi there,

I am trying to create a search key by doing the following:
[code]
And am running into this error:
[code]

If I use the client directly I can list indicies aok and all my syncing etc is working fine so I know my details in my env file are all aok.

I did notice this in the Algolia docs:
[code]

Could this be the issue?

[2020-02-04 16:46] ctyler-liquidfish commented on #123
I've created a [pull request](https://github.com/algolia/scout-extended/pull/222) to help with this issue.
To take advantage of this change, you'll override LocalSettingsRepository in your app:
[code]
[code]
I'm appending the environment as a suffix, hence the specifics of my getIndexSettingsName function, but you could modify it to match whatever your needs are.

[2020-02-13 02:10] balgf opened #223 "Importing certain strings causes json_encode error"
Version in question: v1.8.0

To reproduce:
1. Setup algolia search client and  scout extended.
2. Prepare table with VARCHAR column.
3. Insert a row with text. In my case, I used this "0281E3986958"
4. Run `artisan scout:import` or `artisan scout:reimport`

Observed behavior: An error occurs `InvalidArgumentException  : json_encode error: Inf and NaN cannot be JSON encoded`

Expected behavior: Sho

[2020-02-13 09:05] nunomaduro commented on #223
Thanks for reporthing this issue, so far you are the first reporting this problem.

You seem to have found a nice workaround too - so If someone else reports this problem, a I will link it to this issue and re-open it.

[2020-02-13 09:05] #223 closed

[2020-02-13 09:16] jakew009 commented on #223
Hi @nunomaduro

Sorry to chime back in here, but this doesn't really feel like a very good reply. Fwiw's we are paying Algolia customers.

We've identified a (pretty nasty) bug in your software whereby a text string is getting treated as a exponential number.

We have identified the exact line in your package that appears to be causing it.

I don't think forking the repo is really a solution here

[2020-02-13 09:25] jakew009 commented on #223
Looking at the code I don't really understand why you are calling Laravel's `transform` class here (https://github.com/algolia/scout-extended/blob/v1.8.0/src/Jobs/UpdateJob.php#L116) without providing it a function?
https://laravel.com/docs/5.8/collections#method-transform

The docs don't mention anything about feeding it an array?

[2020-02-13 12:10] nunomaduro commented on #223
The transform method is a macro of the builder: https://github.com/algolia/scout-extended/blob/31209a672b14b5b06b2fd9b7ea65a346f0c30e6c/src/ScoutExtendedServiceProvider.php#L126.

[2020-02-26 11:25] smknstd commented on #208
made it a blog post: https://medium.com/code16/handling-changes-on-belongstomany-relations-with-laravel-scout-extended-fa72e41143b7

[2020-03-01 23:07] seivad opened #224 "Aggregator returns full model"
It seems like the Aggregator returns the full model even though at Algolia's end, the indices look correct.

For example at Algolias end within an aggregated indices:

[code]

but what gets returned when searching in my Laravel app is:

[code]

my Aggregator for global search looks like:

[code]

and all of the models are returning the full results but for instance the QuoteItem Model has this:

[

[2020-03-01 23:28] seivad commented on #224
Sorry I've just noticed that I return just ```->raw()``` I get the algolia model which is what I am after and not the entire object from the database. I might have to stick with that for the time being instead of mapping over each result type in the aggregator and slimming the response down.

[2020-03-03 14:36] nunomaduro opened #231 "docs: changelog don't contain links for release diffs"
To fix this issue, you should perform a pull request modifying the `changelog.md` file adding a link per version on the changelog. Where is an example: https://github.com/nunomaduro/larastan/blob/master/CHANGELOG.md.

[2020-03-19 12:33] larsboldt opened #232 "Multiple algolia app ids in one Laravel setup"
How do I use different Algolia app ids for different models? We have one API supporting multiple sites and per Algolia rules one needs to split sites into different app spaces.

Using Laravel 7

[2020-03-19 12:47] nunomaduro commented on #232
We currently don't support that feature.

You may need to use to PHP Client directly to accomplish something like that: https://www.algolia.com/doc/api-client/getting-started/install/php/.

[2020-03-19 12:47] #232 closed

[2020-03-20 13:45] tomcoonen commented on #171
I have my scout queue setting set like this:
`
 'queue' => [
        'queue' => 'search-index',
    ],
`

Specifying the queue like this will not wait for the temp index to be ready, but moves an empty index to 'production'.

Anything I can do to get this fixed?

[2020-03-20 13:57] nunomaduro commented on #171
Maybe you can work on a pull request that fixes this.

[2020-03-20 14:36] tomcoonen commented on #171
I agree on the problem, gonna see if I can fix it in the upcoming days :)

[2020-03-23 15:12] memdev opened #233 "Instantiate LengthAwarePaginator from the container"
When using the Builders `paginate()` method, the pagination classes (Paginator, LengthAwarePaginator) are instantiated directly and therefore are not swappable.

It should be instantiated using the DI container.

[2020-03-23 15:35] nunomaduro commented on #233
Can you point me to the file and line?

[2020-03-23 15:39] memdev commented on #233
File (namespace): `Laravel\Scout\Builder`

Lines: 265, 273, 293, 299
(both `paginate` methods)

[2020-03-23 15:40] memdev commented on #233
Aww, sorry. I just realized it is not a scout-extended issue, but scout itself...

[2020-03-23 15:46] nunomaduro commented on #233
No problem. Fell free to create an issue there.

[2020-03-23 15:46] #233 closed

[2020-03-26 20:18] antoniogoncalves92 opened #234 "Aggregator"
Hi, i am currently using your services to implement an instant search to improve system search. And everything looks great till now. But currently i m getting an issues with a model import data, since am using aggregator to use multiples models in one indice.

The issues is like so:

1. When i add some models, lets say, Contrato, Pagamento and User to the models array property of the Aggregator cl

[2020-05-09 17:28] nfunwigabga opened #235 "Index not automatically updated when shouldBeSearchable condition changes"
When the `shouldBeSearchable` condition changes, I expect the aggregated index to be reimported since this would affect the records that should be indexed. For instance, in `Skill` model:
[code]

Then in my controller, when a user removes the skill from their profile or adds a skill to their profile, I would expect the `shouldBeSearchable()` to be checked again and the records reimported. eg

[cod

[2020-05-13 08:35] georgeboot commented on #223
We're having the exact same issue. I haven't had time to nail it down to an exact value, but my guess is that for us it's the uuid's beging mistreated.

[2020-05-13 08:39] nunomaduro commented on #223
@georgeboot Do you have override the `toArray` method?

[2020-05-13 08:43] georgeboot commented on #223
@nunomaduro Nope, just the `toSearchableArray()` in my models:

[code]

Note that all IDs are string-based uuid's.

[2020-05-13 08:56] nunomaduro commented on #223
Hummm. If you have a min, can you do a `dd` to see if the `transform` is being applied? https://github.com/algolia/scout-extended/blob/ea5cec58af8f726fe1f5848082c0a5f84ffbd3b8/src/Jobs/UpdateJob.php#L116.

It shouldn't.

[2020-05-13 09:50] georgeboot commented on #223
But it does :) Not for the regular searchable model, but it does for an aggreagated search (`Algolia\ScoutExtended\Searchable\Aggregator`)

[2020-05-14 08:24] nunomaduro commented on #223
I see. Having something like this on the Aggregator Model will fix your issue:

[code]

[2020-05-14 08:25] nunomaduro commented on #223
cc @jakew009 By default, when the `toSearchableArray` do not exists, we transform some data for you. Numeric strings to ints, dates objects to string, etc.

[2020-05-14 14:38] georgeboot commented on #213
This should be reopened as the issue still exists.

I see my PR didn't work on 7.2 and 7.3 (completely missed that, sorry!) and @nunomaduro  tried but ended up reverting the PR.

What would you suggest is the best approach now?

[2020-05-26 08:34] rasmuscnielsen opened #236 "Missing docs regarding required index permission"
Hey there - thanks for this awesome package

For anyone else encountering a 403 error upon running `php artisan scout:optimize`, please beware it might be due to api key index restriction.

The error message will look something like:

[code]

Scout extended needs access to an extra temp index: `temp-laravel-scout-extended`. Without this permission it will fail with no other explanation given.

In

[2020-05-26 09:29] nunomaduro commented on #236
Thanks for reporting this issue, we going to perform a pull request on the documention.

[2020-05-26 09:29] #236 closed

[2020-05-26 18:22] aniplaylist opened #237 "MakeSearchable runs twice when updating aggregated model"
Hello,

I have just set up an Aggregator on my project with two Models in it.

Whenever I'm updating one of these two models the MakeSearchable Job is run twice :
- Once for the Model
- Once for the Aggregator

Is this the expected behaviour? Isn't this consuming two indexing operations on Algolia instead of one?

**Two jobs seen on Horizon :**

<img width="922" alt="horizon-jobs" src="https://use

[2020-05-26 18:25] nunomaduro commented on #237
Correct. If both the model, and the aggregator are searchable that is the normal behaviour.

You really need to make the models searchable? If not, you can remove the `Searchable` trait from those models, and the aggregator will still work consuming just one indexing operation per update.

[2020-05-26 18:40] aniplaylist commented on #237
Just tried removing the `Searchable` trait from my model but `MakeSearchable` job is not triggered anymore (not even once) and the entry I updated is removed from my index

[2020-05-26 19:04] nunomaduro commented on #237
That is because you probably forgot to call the `bootSearchable` in your service provider as specified here: [algolia.com/doc/framework-integration/laravel/advanced-use-cases/multiple-models-in-one-index/?language=php#aggregators---multiple-models-in-one-index](https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/multiple-models-in-one-index/?language=php#aggregators---mult

[2020-05-26 19:09] aniplaylist commented on #237
I didn't forgot 🤔

[code]

[2020-05-27 21:54] aniplaylist commented on #235
Have you tried adding `$touches` attribute to your `Skill` model?

Here's the documentation link : [Updating relations when parent/child change](https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-searchable-data/?language=php#using-touch-feature)

[2020-05-27 23:14] nfunwigabga commented on #235
Yes I tried this and it still does not quite work. Seems to work for `belongsTo` relationships, but not for `belongsToMany` (which is what I have). I am currently using [this package](https://github.com/chelout/laravel-relationship-events) to observe the `sync` event and reimport. Not super efficient but works for now.

[2020-05-27 23:40] nfunwigabga commented on #235
Ok, [this issue on Laravel repo](https://github.com/laravel/framework/issues/31597#issuecomment-592057285) helped. Because I am dealing with a many-to-many relationship, I had to create a model for the intermediate table and place the `$touches` call in there. That way when there is a `sync` (which is actually updating the intermediate table), the `Skill::class` model also gets updated, which trig

[2020-05-27 23:40] #235 closed

[2020-06-03 13:37] rasmuscnielsen commented on #123
Really wish `LocalSettingsRepository` wasn't final.

I completely understand this package can't predict all use cases and takes a stance on configuring different files per environment.
But marking classes as final prevents me from implementing a very simple solution myself while this PR is being worked out.

For the time being that leaves me the only option to fork the repo and thereby miss out on

[2020-06-03 16:36] tech-commoprices commented on #237
Hi @aniplaylist , just ran into the same issue.

Simply change the `shouldBeSearchable` method on your Aggregator to make it look like this :

[code]

[2020-06-03 16:45] tech-commoprices commented on #237
It could be useful to put this in the docs btw :-)

[2020-06-03 16:54] nunomaduro commented on #237
Thanks! We are aware of this issue, no ETA for having this on the package at the moment.

[2020-07-02 10:06] #231 closed

[2020-07-13 16:20] jakew009 commented on #223
cc @balgf did you see this?

[2020-08-17 16:48] AAllport commented on #123
Bumping this. Would be really helpful, especially since I presume a lot of people wouldn't have the need for different index settings between (for example) Live & Stage

[2020-08-18 06:36] chloelbn commented on #123
Hey everyone!

[In this previous PR](https://github.com/algolia/scout-extended/pull/135#issuecomment-660550388) we suggested
 dynamically adding the SCOUT_PREFIX option while you run your desired command, that'd give you the flexibility of choosing any prefix for your different environments. Removing the final tag is definitely not what we want to do so we won't push foward this solution.

I'm clo

[2020-08-18 08:31] AAllport commented on #123
Would a PR be accepted for having a config option to remove the prefix from the index configuration file?

[2020-09-04 10:41] MasterMindLegion opened #242 "Record at the position 0 objectID=App\Article::16 is too big size=13406 bytes. Contact us if you need an extended quota"
Hello guys,

I have installed scout-extended , but still, there is an issue regarding to index article with big size. It is an long article, which I would like to indices, how to proceed please?

I had normal scout installed -> than I found out err _**_Record at the position 0 objectID=App\Article::16 is too big size=13406 bytes. Contact us if you need an extended quota_**_ -> I have installed sco

[2020-09-09 01:59] jcorrego opened #243 "Add support for Laravel 8"
Laravel  8 requires ^8.* on Illuminate dependencies

[2020-09-10 20:38] lscortesc opened #245 "[Question] Steps to contribute"
#### How can configure my local setup to contribute to project?

I want to contribute to project but I'm have some issues to configure my local setup. Does exist any guide to configure the project? I'm using `php: ^7.4`

#### My steps

- I've forked the project
- I've installed the dependencies: `composer install`
- When I run `composer test` I have the follow error:
![image](https://user-images.g

[2020-09-22 13:26] danpalmieri commented on #243
Waiting this to fully upgrade to Laravel 8.

[2020-09-22 15:13] whobutsb commented on #243
This is the only essential package holding me back from updating to Laravel 8.

[2020-09-23 11:53] chloelbn opened #249 "Migrate CI to CircleCI"
Migrate CI from Travis to CircleCI

[2020-09-23 12:09] #243 closed

[2020-10-03 03:28] goddas opened #251 "PhpStorm imports issue"
Please let me know what might be causing the following behavior. I'm on Laravel 8 (migrated from 7 ) if that makes a difference.

So I have pretty much a brand new `laravel/scout` and `algolia/scout-extended` install. The later gives me trouble. Scout without `algolia/scout-extended` works fine.

Issue:
When I run `scout:import` or `scout:reimport`

1) The index gets created at algolia, but the in

[2020-10-03 20:37] goddas commented on #251
The issue was due to PhpStorm. Resolved after restarting it.

[2020-10-21 08:20] FreekVR commented on #213
Just came here after encountering the same issue on prod and staging with Telescope, like in the OP. Are there any other workarounds except having to specify all my searchables in the CLI?

[2020-11-03 12:08] rasmuscnielsen commented on #123
@AAllport For our use-case the ability to ignore the prefix would solve the issue yes. The aim is to simply have a ie. `scout-articles.php` config file that applies to all environments.

[2020-11-03 13:07] AAllport commented on #123
@chloelbn, can we consider re-opening, it seems like there's certainly a _need_ for it.
A similar case was presented for Horizon here laravel/horizon#438

[2020-11-04 15:26] chloelbn commented on #123
Hi @AAllport and @rasmuscnielsen ! Sorry for the late response. Please feel free to submit the PR to have a default config file indeed! Have a good day everyone

[2021-01-12 11:02] ametad commented on #213
Might I suggest an approach we used, as we had a similar problem?

Outlined in this class: https://github.com/matchish/laravel-scout-elasticsearch/blob/3ac43a86b46aa507e81e7c448c12cccd6317fd40/src/Searchable/SearchableListFactory.php#L22

Spoiler: it parses php and not load it.

[2021-01-12 17:11] DevinCodes commented on #213
Hey @georgeboot,

Sorry that this has been stale for a while. The good thing about that (I suppose) is that this package has dropped support for `php < 7.3`, which means that your changes should work. Could you please try to recreate your PR with the latest changes of the `master` branch?

Thank you in advance, let me know if I can be of any help 😄

[2021-01-18 18:11] sal1ner0 opened #263 "cURL error 28: Resolving timed out after 2000 milliseconds"
- Laravel version: ^8.0
- Algolia Scout Extended version: ^1.10
- Algolia Client Version: ^2.7

### Description
I'm having this error.. it seems something about network, but i tried from different servers, locations, etc.. and i cant figure out whats going on..

it happens always when i run **scout:reimport** directly on terminal or through laravel scheduler.
The problem increases because most of

[2021-01-19 08:29] DevinCodes commented on #263
Hey, thanks for reaching out!

It seems like there's a connection timeout, could you please try to increase the threshold to see if that solves the issue? You can do this by replacing the default `SearchClient` with a custom one. In your `AppServiceProvider`, add something like the following code:

[code]

[2021-01-19 09:09] sal1ner0 commented on #263
Hi @DevinCodes !

I just tried, but still same error

  cURL error 28: Resolving timed out after 2000 milliseconds (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://hjk5el3fft.algolia.net/1/indexes/manufactures/operation

It seems that this change does not take well..

[2021-01-19 09:18] DevinCodes commented on #263
Can you please run the following command (Replace `ApplicationID` with your app ID) on the server where this error occurs, and send me the output? Thanks in advance!

[code]

[2021-01-19 09:56] sal1ner0 commented on #263
Sure, here you have [](http://ix.io/2MxR)

[2021-01-19 13:26] DevinCodes commented on #263
Thanks! I don't see anything weird in the output of the script, so let's try out some other possible fixes.

Given that the change does not get taken into account, you might have to [customize the HTTP client](https://www.algolia.com/doc/api-client/advanced/pass-options-to-the-http-client/php/?client=php#using-the-default-guzzle6httpclient-recommended) that the API client uses, and set some cURL d

[2021-01-19 13:49] sal1ner0 commented on #263
ok i see..but how can i override reimport command with this settings?

[2021-01-19 14:00] DevinCodes commented on #263
If you add this code in your `register` method of your `AppServiceProvider`, the underlying Algolia API client should use this new GuzzleClient as its HTTP client 🙂

[2021-01-20 11:01] sal1ner0 commented on #263
It seems again that this change does not take well..
Still same error ;(

[2021-01-22 09:33] #213 closed

[2021-01-22 10:19] kossa commented on #263
Facing the same error here

![image](https://user-images.githubusercontent.com/1175584/105478562-9db15000-5ca3-11eb-9444-b348c7a0be85.png)

[2021-01-22 11:38] kossa commented on #263
I fixed the issue by change composer.json, I used `"algolia/scout-extended": "~1.10"`

![image](https://user-images.githubusercontent.com/1175584/105486424-bbd07d80-5cae-11eb-9e6d-86ff499d2af4.png)

[2021-01-22 19:43] sal1ner0 commented on #263
Not working for me.. did u run manually or through scheduler?

[2021-01-22 19:45] kossa commented on #263
Manually, bcz I had a problem with scout:status and scout:reimport

[2021-01-22 20:26] sal1ner0 commented on #263
You're lucky .. I get the error even when executing it manually.
if I manually execute the error it is only appear sometimes, which is even weirder.
Let's wait for @DevinCodes

[2021-01-22 20:31] kossa commented on #263
I remember another thing, I removed all indexes on Algolia, may be this is the cause 🤔

[2021-01-25 13:48] DevinCodes commented on #263
Hey @sal1ner0 ,

sorry for the inconvenience, but I realize now that the snippet I provided in my comments earlier are in fact incorrect: they don't update your settings as expected. The following snippet should correctly update the timeouts. You might have to play around with the values to see what works best for your use case.

[code]

Please let me know if this indeed solves your issue. If not,

[2021-01-25 20:08] sal1ner0 commented on #263
Now sounds better ;).. It's works !!
I only had to make a small change to your code:
`$config = SearchConfig::create(config('scout.algolia.id'), config('scout.algolia.secret'));`
Thanks @DevinCodes

[2021-01-26 08:42] DevinCodes commented on #263
Awesome, thanks for letting me know! I've updated the snippet in my answer so if anyone encounters this later on, they'll have the correct snippet.

Cheers!

[2021-01-26 08:42] #263 closed

[2021-01-26 16:08] kossa commented on #263
For my case I changed it to 10000(10 sec) I have the same issue :

![image](https://user-images.githubusercontent.com/1175584/105870905-0cbadb80-5ff9-11eb-8d38-423742b9d485.png)

[2021-01-27 11:46] DevinCodes commented on #263
@kossa can you run the following command on the machine with this error? This may point towards network (configuration) errors. Just replace `ApplicationID` with your app id.

[code]

[2021-01-27 11:55] kossa commented on #263
I got :
```sudo: ./diag.sh: command not found```

[2021-01-27 12:03] DevinCodes commented on #263
It seems like your machine can't download the command in that case. Is it able to connect to other sites (e.g. with the `ping` command)?

[2021-01-27 19:23] kossa commented on #263
Sorry my mistake, I added chmod +x

Ready to start!
The tests will run for few minutes!
System-Info: OK
DNS-Settings: OK
Dig: OK
Dig-v6: OK
Dig-v4: OK
Dig-Trace: OK
Port-80: OK
Port-443: OK
Geo: OK
Hosts-net: OK
Hosts-com: OK
Dig-Google - latency-dsn.algolia.net: OK
Dig-CF - latency-dsn.algolia.net: OK
Ping - latency-dsn.algolia.net: OK
Trace - latency-dsn.algolia.net: Not Available
Trace-ICMP - l

[2021-01-29 09:48] DevinCodes commented on #263
Hmm that's odd. Could you try with a value even higher than 10 seconds, let's say 30 seconds? If the problem still persists, feel free to send a message to [Algolia support](https://www.algolia.com/support/), so we can help dig a bit deeper.

[2021-01-29 09:50] kossa commented on #263
I guess 10sec is a lot, if use need to wait 10sec to get the page ;)

[2021-02-18 18:52] VinceG commented on #200
@nunomaduro We just saw this issue come up, this can potentially cause issues if not taken seriously since the condition is ignored and all results matching the criteria are returned. in some cases, a user might see more than they should.

I've created a PR for this with a test case. #265

[2021-02-19 08:51] rabol opened #266 "Does not work with the mysql driver"
- Laravel version: 8.28.1
- Algolia Scout Extended version: 1.13
- Algolia Client Version: #.#.#
- Language Version: 7.4

### Description

Im using a mysql driver for scout and it works fine.
Then I was looking for a way to search from multiple models at the same time and saw scout-extended

### Steps To Reproduce

Install an new laravel app
install laravel scout
install this yab/laravel-scout-mys

[2021-02-22 08:42] DevinCodes commented on #266
Hi there!

[Scout Extended](https://www.algolia.com/doc/framework-integration/laravel/getting-started/introduction-to-scout-extended/?client=php) is made to work with the Algolia driver, and not other drivers that Scout provides. As the logic we add in our package is highly specific to using Algolia in your app, there's currently no plans to add support for the other drivers.

If you still want to

[2021-02-22 08:42] #266 closed

[2021-02-22 12:25] DevinCodes commented on #200
Thank you for the PR @VinceG, I'll take a look soon!

[2021-03-03 09:11] DevinCodes commented on #245
Hey there, thank you for wanting to participate in the development of Scout Extended, and sorry for the late reply.

To run _all_ the tests, you need to pass Algolia credentials indeed. During the test suite, we set up a basic Laravel application, and it uses the default Scout config. This means you need to make sure the `ALGOLIA_APP_ID` and `ALGOLIA_SECRET` variables are available in your environ

[2021-03-03 09:28] DevinCodes commented on #251
Hey @goddas , thank you for reporting this issue. I've tried to reproduce the issue you're describing, but without any luck.

Given that the errors seems to be that modifications don't get taken into account, my best guess is that it's related to PhpStorm, and not to Scout Extended. Did you try reproducing this in another editor as well?

[2021-03-03 12:51] #251 closed

[2021-03-03 12:54] goddas commented on #251
The problem was due to me not restarting the laravel queue worker,  so it wasn't using the new changes.

[2021-03-09 07:58] #245 closed

[2021-03-09 18:56] Sunhat opened #268 "Algolia Documentation says this supports 5.7, composer says otherwise"
the Algolia Docs say Laravel 5.7+, but when installing this package it requires at least version 6

[2021-03-10 08:36] #200 closed

[2021-03-10 08:58] DevinCodes commented on #268
Thank you for pointing this out, I'm updating the Algolia documentation to reflect this!

[2021-03-10 08:58] #268 closed

[2021-03-10 18:49] Sunhat opened #269 "Builder withoutGlobalScopes is not a function"
I'm using Laravel 5.7 with "algolia/scout-extended": "1.8",

In conjunction with Laravel Nova

e.g. in a Nova Resource:
[code]

Prior to installing Algolia and making this model Searchable, this was working

[2021-03-11 12:22] Sunhat commented on #269
To get around this issue, I've had to create a new Model

[code]

[2021-03-11 22:31] logan-jobzmall commented on #171
Any news on this?

[2021-03-12 08:17] DevinCodes commented on #269
Hi @Sunhat , thank you for submitting this issue.

It seems like something might be wrong in the parent class of the resource, because AFAIK the `scoutQuery` method should return a `\Laravel\Scout\Builder`, and not a `\Algolia\ScoutExtended\Builder`. Could you show me the code in the parent's `scoutQuery` method so we can see if there's an issue in there?

Thank you in advance!

[2021-03-14 08:53] kossa opened #270 "Add scope for search"
- Laravel version: 8.31
- Algolia Scout Extended version: v1.13.0
- Algolia Client Version: #.#.#
- Language Version: php7.4

### Description
I want to add some filters, like price between ..., there is a way to add scope ? so dont need to duplicate the same code ?

[2021-03-15 09:42] DevinCodes commented on #270
Hi @kossa ,

Unfortunately, this is not possible for us to do. Since records in Algolia are not relational, there's only support for [simple where clause](https://laravel.com/docs/8.x/scout#where-clauses), which you have to define manually. Scout Extended adds [some extra `where*` methods](https://www.algolia.com/doc/framework-integration/laravel/searching/server-side-search/?client=php) (such as

[2021-03-15 09:43] #270 closed

[2021-03-15 10:22] kossa commented on #270
Thank you @DevinCodes

[2021-03-17 10:47] koichirose commented on #263
I'm having the same issue, tried with different timeouts (even 10 seconds).
It started happening when I switched servers and maybe upgraded to PHP 8, but I'm not 100% sure about it being PHP 8's fault (I don't remember which version I had on the old VPS which is now unavailable).

Calling algolia via command-line curl is always ok and responses are pretty fast.
Via PHP it sometimes work, it's unpr

[2021-03-17 15:48] #123 closed

[2021-03-19 11:51] koichirose commented on #263
I don't want to be too optimistic, but in my case it seems that the new VPS has trouble with the default DNS.
I switched to Cloudflare's DNS and everything seems to be fine now.
Not sure why I was noticing the issue only with PHP and not if I called Algolia with curl.

[2021-03-19 12:20] DevinCodes commented on #263
That's odd indeed, it might have to do with the PHP configuration in that case. Happy to hear it's resolved for you 😄

[2021-03-24 05:04] mokhosh opened #273 "Reimporting aggregators only"
- Laravel version: latest
- Algolia Scout Extended version: latest
- Algolia Client Version: latest

### Description
With `scout:reimport` you can specify which searchable model you want to reimport. But if you have an aggregator called `News` for example you cannot say `scout:reimport News`, you get:
[code]

### Steps To Reproduce
Make an aggregator
Try to reimport aggregator only

[2021-03-29 07:57] DevinCodes commented on #273
Hi @mokhosh ,

Did you try passing the full classname (including namespace) to the command? For example, if your `News` aggregator lives in the default `App\Search` namespace:
[code]

[2021-03-29 10:16] mokhosh commented on #273
Thanks @DevinCodes for the response. It did work. I think it would be nice to have a config for aggregates folder that defaults to "app/Search" and we would look there too in addition to models folder when we're reimporting, so we don't need to explicitly indicate the namespace.

[2021-03-29 10:52] DevinCodes commented on #273
I would love to hear what others think of such an option before we decide to implement it 🙂  Let's discuss!

[2021-04-07 07:36] DevinCodes commented on #249
This has been done in 168ad55cd68f05ad602dc15e20b8197751f73e46

[2021-04-07 07:36] #249 closed

[2021-04-08 18:03] kossa opened #276 "Add join in selection"
- Laravel version: v8.35.1
- Algolia Scout Extended version: v1.15.0
- Algolia Client Version: #.#.#
- Language Version: ??

### Description
I have posts table and custom_fields related to posts, How can I filter with custom_fields ?

[2021-04-09 07:45] DevinCodes commented on #276
Algolia doesn't support JOIN operations across tables, you need to include all the data you want to filter on in your record. We elaborate on this on the [scout extended documentation](https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-searchable-data/?client=php#relationships). Let me know if you still have any questions after reading this 🙂

[2021-04-09 07:45] #276 closed

[2021-04-12 08:09] felixwatzka commented on #188
Are there any considerations yet to implement this feature to scout-extended?
This actually existed in the older algoliasearch-laravel package, see: https://github.com/algolia/algoliasearch-laravel#primaryreplica

I'm currently working on a project where we need 20 or more virtual replicas for different sortings. Additionally, every environment has its own indices. This means that we have to manua

[2021-04-12 09:42] DevinCodes commented on #188
Unfortunately there's currently no plan to work on this in the near future from our side, but we're definitely open for contributions, as this can be a valuable addition to Scout Extended!

[2021-05-19 00:26] tobz-nz opened #279 "paginate()->total() always 0"
- Laravel version: 8.42.0
- Algolia Scout Extended version: 1.18.0
- Algolia Client Version: 3.0.2
- Language Version:

### Description

The `count()` method when paginating results seems to always be 0 when also using the `query()` callback method.

### Steps To Reproduce

See in this example the `items` property has 1 result, but the `total` property is `0`.

[code]

[2021-05-21 12:14] DevinCodes commented on #279
Hi @tobz-nz ,

Could you please check which version of Laravel Scout gets included through the `composer.lock` file?

This has been a [known issue](https://github.com/laravel/scout/issues/450), and it seems to be fixed in version 9 of Laravel Scout. Could you try to see if updating to version 9 solves the issue?

Thank you in advance!

[2021-05-30 21:47] tobz-nz commented on #279
@DevinCodes I've got Scout `v9.1.0` installed. So nah, doesn't seem like its fixed unfortunately..

[2021-06-01 14:24] DevinCodes commented on #279
Thank you for the update, I'll take some time to dig deeper first thing tomorrow!

[2021-06-02 07:53] DevinCodes commented on #279
I tried to replicate the issue, but it seems to work fine for me. Do you think you would be able to list exact steps for me to take to replicate the issue, please? I'm a bit at a loss on how to debug this otherwise 😅  Thank you in advance!

[2021-06-02 08:03] DevinCodes commented on #279
Quick update: I believe I've found the issues. It's in the way the `AlgoliaEngine` handles its `mapIds` method; it returns the objectIDs where the new implementation of paginate in Laravel Scout expects the model primary keys. I'll try to see if there's a way to fix this without breaking backwards compatibility.

[2021-06-10 14:04] babacarcissedia commented on #108
This is next level support! Thanks @nunomaduro for your work!

[2021-06-29 12:42] GC-Mark opened #282 "Aggregators broken since laravel/scout was updated to `v9.1.0` when deleting Models became queueable"
After a few hours of investigation, we finally figured out that [this PR](https://github.com/laravel/scout/releases/tag/v9.1.0) over at `laravel/scout`, broke our production setup when trying to remove `Models` from Algolia using an `Aggregator`.

The following exception is thrown...

[code]

Here's the stack trace...
[code]

If you need any more information to figure this out, let me know.

Thank

[2021-07-12 10:31] DevinCodes commented on #282
Thank you for reporting @GC-Mark, and sorry for the late reply. Do you perhaps already have some ideas on how we could fix this? I can dig into this next week, but if you already have some ideas that would help us a lot! Also, feel free to include the steps we need to take to reproduce this error 🙂

Thank you in advance!

[2021-07-12 10:35] GC-Mark commented on #282
We did dig into this, but ultimately hit a brick wall coming up with a solution.

I will try and put together a repo that recreates the error this week if I get a chance.

👍

[2021-07-12 11:26] goldmerc commented on #282
Using the latest scout / scout extended, I get the same error message if I try to update a model instance which is **excluded** from the aggregate index by shouldBeSearchable(). The update works fine if shouldBeSearchable() returns true.

@GC-Mark did you just go back to Scout pre v9.1.0?

[2021-07-12 19:07] goldmerc commented on #282
rolling back to laravel/scout:9.0.0 resolved the issues for me

[2021-07-12 19:42] goldmerc opened #285 "AggregatorObserver delete method shouldn't check individual model syncing status"
- Laravel version: 8.49.2
- Algolia Scout Extended version: 1.20.0
- Algolia Client Version: 3.0.2

### Description
AggregatorObserver's deleted + forcedDelete methods check if syncing is disabled for the model...

[code]
So, if the model class has syncing disabled, the aggregated index will keep the record for the deleted model.

The recommended way to avoid indexing the individual models that ma

[2021-07-13 07:47] GC-Mark commented on #282
@goldmerc yes, we downgraded for the time being

[2021-07-14 07:32] goldmerc commented on #285
Just following up, I think the code below would provide the intended behaviour and allows aggregated indexes to delete records while syncing to the individual model index is disabled.
[code]
Apologies if there is some reason for checking the model class (as opposed to the aggregator class) that I'm missing

[2021-08-12 20:29] JayBizzle commented on #282
Just an update on this...

The problem I think comes from the fact that deletions are now queued and when the job is run, the Models get reinitialised in the queued job ready for deletion.

The problems start in this file https://github.com/laravel/scout/blob/9.x/src/Jobs/RemoveFromSearch.php

The models are passed in and then serialized. When to `RemoveFromSearch` job runs, the Modela are unseria

[2021-09-01 08:22] DevinCodes commented on #285
Hi @goldmerc ,

Thank you for reporting this issue, and sorry for the late reply.

I think you're right: we currently don't handle this well, and behavior should be more consistent than it currently is.

I also tend to agree that an aggregator should be unaware on whether a model has sync enabled or disabled: this is what the default `ModelObserver` will check anyway.

Do you think you would be ab

[2021-09-01 08:34] DevinCodes commented on #282
I think the cleanest way is if we override the `RemoveFromSearch` job indeed, and register it using `\Laravel\Scout\Scout::removeFromSearchUsing` in our provider. Here we would need to prevent queueing whenever we're handling deletions through an Aggregator.

I'll make some time early next week to play around with this and open a PR, I would love to get your thoughts and feedback on it by then.

[2021-09-01 17:52] JayBizzle commented on #282
Yeah, that sounds like the way to go. I look forward to seeing and testing a PR 👍

It would be nice to get this to work in the future with Aggregators, but I guess it would require quite a major overhaul in how Aggregators work.

[2021-09-15 09:19] rodrigolinsr commented on #279
Just today I've bumped into this issue and after couple of hours debugging, I ended up finding the same root cause as you @DevinCodes . I've applied the changes of your pull request locally and can confirm this solves our current issue. Thanks a lot for putting this pull request up!

What's needed to make your code get merged into master and a new version generated? I consider this being quite cri

[2021-09-15 09:29] DevinCodes commented on #279
Hi @rodrigolinsr ,

If you could help out by writing a test for it, that would be amazing! Other than that I'll ask internally for a review of the PR, and then we need to decide when to release a new major version as this is a breaking change. I'll keep you posted.

[2021-09-16 08:50] rodrigolinsr commented on #279
hey @DevinCodes , I've created this PR with a simple test for the pagination. Checked without your change and the test `testPaginationWithCallback` breaks, while with your changes it passes fine.

https://github.com/algolia/scout-extended/pull/288

Let me know what you think. Cheers!

[2021-09-27 08:31] goldmerc commented on #285
Hi @DevinCodes. My turn to say sorry for the late reply! I can open a PR but I'm afraid I wouldn't know how to do the testing. Coding is just a hobby for me and I'm still getting my head around testing. Perhaps, it would be sensible for someone more experienced to do it? but happy to try if you want - just let me know.

[2021-09-29 09:07] DevinCodes commented on #285
If you're up to trying out testing, feel free to do so! 😄  If not that's fine as well, if you could open a PR that would already be of great help, and we can try to figure out a way to test it afterwards.

Thank you in advance, please let me know if you need anything.

[2021-11-01 14:03] DevinCodes commented on #273
Hi @srlbarron ,

Do all classes in your `$models` array implement the `Searchable` trait? If so, what happens if you change the order of your classes; does it still only import the first, or does it only import a specific class?

Thank you in advance!

[2021-11-01 14:09] srlbarron commented on #273
Hi @DevinCodes, I got it solved and I honestly don't know what it was.

Possible causes:

- I was using a free account to test my stuff and it got quota'ed
- Running on laravel 6 with newer scout versions
- Lots of legacy custom code on my end (not my fault thought ;) )

[2021-11-01 14:11] DevinCodes commented on #273
Okay, great to hear it got solved! 😄

Happy coding @srlbarron

[2021-11-24 09:09] osama-klabs opened #293 "Should allow to change full objectId"
- Laravel version: 8
- Algolia Scout Extended version: 1.20
- Algolia Client Version: 3.1
- Language Version: 7.4

### Description
I am trying to change objectId from App\Models\{anyModel}::{id} to id{id}
Below function only change the key not whole objectId (model name)
[code]

### Steps To Reproduce
Just run import command you will see the objectId in terminal

[2021-11-24 13:39] DevinCodes commented on #293
Hi @osama-klabs ,

Unfortunately, it's not possible to do this. The logic that generates this key lives in the `final` class `ObjectIdEncrypter`. Since this is a `final` class, it's not possible to override any methods on it.

May I ask why you need to update the objectID format exactly? Perhaps we can find a way around that requirement.

[2021-11-29 06:54] osama-klabs commented on #293
I have multiple projects with different model namespace like App\Models\Product, App\Product etc and they are using same database as well as algolia account

[2021-12-03 10:47] matthiasvanwoensel opened #294 "Laravel search records by id"
Is there any good way to search records by id?

this is what i get:

`public function toSearchableArray()
    {

        $array = $this->toArray();

        $index = 1;

        **$array['ticket_number'] = strval($this->id);**
        $array['on_hold'] = $this->onhold ? $this->onhold->name : null;
        $array['location'] = [$this->location->street, $this->location->number, $this->location->post

[2021-12-06 09:42] DevinCodes commented on #294
Hi @matthiasvanwoensel ,

Could you explain a bit more what exactly isn't working properly?

The code you sent should add the `ticket_number` attribute to your records. Please keep in mind you need to add the `ticket_number` attribute to your searchableAttributes in order for Algolia to search into the values here.

Thank you in advance!

[2021-12-09 15:20] cloudeweb commented on #279
Hi, I updated my scout version to laravel/scout  v9.3.2, but have same problem.

how can I fix it? thanks!

[2021-12-10 10:00] DevinCodes commented on #279
Hi @cloudeweb ,

There's a [PR open that fixes this issue](https://github.com/algolia/scout-extended/pull/281). The problem is that it's BC-breaking, so we need to release a new major version before we can merge this. I can't give you an estimation of when this will be, but my guess would be somewhere in January since we'll have a new version of Laravel coming out at that time as well.

[2021-12-17 16:04] matthiasvanwoensel commented on #294
I cant search in numbers, only in strings ...

I have a field ticket number and a field client_number, both are numbers, but if i for example wants to search a client number (1001 or something like that), i don't get records... while it exists..

` public function searchClients($term)
    {
        $clients = Client::search($term);
        return $clients->orderBy('client_number', 'desc')->paginat

[2021-12-20 12:55] DevinCodes commented on #294
Are these attributes configured as `searchableAttributes`? Could you show us the settings of your index, please? 😄

[2022-01-26 09:49] DevinCodes commented on #242
For most Algolia plans, the Algolia engine only accepts records that are 10kb max. If records are too big, the engine will reject it with the error message you're seeing here.

There's public documentation on [how to reduce the size of records](https://www.algolia.com/doc/guides/sending-and-managing-data/prepare-your-data/how-to/reducing-object-size/), as well as documentation on indexing [long do

[2022-01-26 09:49] #242 closed

[2022-01-27 14:41] #293 closed

[2022-01-28 09:11] #279 closed

[2022-01-29 00:03] bakerkretzmar opened #298 "Scout `lazyMap` method not implemented, returns no results"
- Laravel version: 8.81.0
- Algolia Scout Extended version: 2.0.0
- Algolia Client Version: 3.2.0
- Language Version: 8.1.2

### Description

Laravel Scout has a companion method to `map`, [`lazyMap`](https://github.com/laravel/scout/blob/3f2583f99afe9265c015e7f0d20a36347ce2510a/src/Engines/AlgoliaEngine.php#L215-L231), which uses a generator under the hood to keep memory usage low. That `lazyMap`

[2022-01-31 09:05] DevinCodes commented on #298
Hi @bakerkretzmar ,

Thank you for reporting this. Feel free to assign me to your PR once it's open so I can review and release 🙂

Cheers!

[2022-02-07 11:50] goldmerc commented on #285
Hi @DevinCodes, took me a while to get round to this but I just posted a PR #301

As discussed, I haven't added or changed any tests. I'm not sure if any are needed or how it would be done - Sorry! But hopefully, the PR will show the issue and a possible solution. It's my first PR on a public repo, so apologies if I've done anything wrong!

[2022-02-09 08:30] eminos opened #302 "Add support for Laravel 9"

[2022-02-09 10:06] kabacs commented on #302
@eminos

Was having also a problem with scout extended when upgrading to Laravel 9, did the following to resolve:

1. Remove algolia/scout-extended from composer.json
2. edit  laravel/framework to ^9.0
3. edit  nunomaduro/collision to ^6.0
4. replace facade/ignition with "spatie/laravel-ignition": "^1.0"
5. execute "composer update"
6. execute "composer require algolia/scout-extended"

In my case

[2022-02-09 11:08] DevinCodes commented on #302
What composer errors did you both get? When trying to install Scout Extended into a new Laravel 9 project I have no issues (v2 of Scout Extended is supposed to work with Laravel 9).

Thank you in advance!

[2022-02-09 11:16] kabacs commented on #302
@DevinCodes

After just altering composer.json for Laravel upgrade (points 2-4), and then issuing the composer update command, I have the following output:

`Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install algolia/scout-extended v1.20.0 (conflict anal

[2022-02-09 12:30] DevinCodes commented on #302
You can pin Scout Extended to `^2.0`, that should resolve your issue (or `composer require "algolia/scout-extended:^2.0"`)

[2022-02-09 13:22] kabacs commented on #302
This solved the upgrade, it went without errors.

Thx @DevinCodes

[2022-02-09 13:26] DevinCodes commented on #302
Happy coding! 😄

[2022-02-09 13:26] #302 closed

[2022-02-11 15:56] GC-Mark commented on #282
This is now a bit of an issue as to avoid this problem we had to lock down Scout to `v9.0.0` but that version requires `illuminate/pagination[v8.0.0, ..., v8.11.2]` which requires a version of PHP less than `8.0`. We are now running PHP `8.1` and cant upgrade to Laravel 9 because of it.

This will be fixed one #287 is merged 🙏

[2022-02-13 17:38] goldmerc commented on #282
This seems to get queued deletes working. In your app service provider...

Scout::removeFromSearchUsing(RemoveFromSearch::class);

And then create a simple job class extending the default scout RemoveFromSearch job...

[code]

[2022-02-13 22:15] JayBizzle commented on #282
@goldmerc thanks for the info, I will definitely test this out this week 👍

[2022-02-22 15:09] mishavantol commented on #282
A constructor has a void return type. The solution above doesn't seem to work. Setting $models to an empty EloquentCollection seems to do the trick. Still feels a bit hacky.

[code]

[2022-02-22 15:48] goldmerc commented on #282
@mishavantol That would just pass an empty collection to the job. So, it wouldn't fail but it wouldn't do anything.

The return is simply to skip the parent::__construct, so you could just change it to the following...

[code]

[2022-02-23 13:48] #282 closed

[2022-03-01 05:01] jonathan-bird commented on #195
I've had a good thing about this after noticing this myself, and used @sgilberg's workaround.

I don't necessarily think this is a bug, but a design decision. If you think about how the prefix works and how the "reimport" command works, it adds "temp_" as a prefix to the index name, swaps it over, imports everything, and switches it back.

For this to work, the index name needs to obviously point

[2022-03-01 14:41] sgilberg commented on #195
Thanks @jonathan-bird! Maybe this issue would be better relabeled with the "Missing docs" label instead of "bug"? I see in the [docs](https://www.algolia.com/doc/framework-integration/laravel/indexing/configure-index/?client=php#custom-index-name) the example currently includes the prefix, but it still doesn't mention that this is a required piece if the reimport command is to work successfully.

[2022-03-03 06:52] gaelle-cari opened #304 "Algolia does not work behind a proxy"
- Laravel version: 8.83.0
- Algolia Scout Extended version: 2.0.1
- Language Version: PHP 7.4.12

Hello,

Algolia (with Scout Extended package) does not work behind a proxy, I saw this documentation: https://www.algolia.com/doc/api-client/advanced/pass-options-to-the-http-client/php/?client=php but I couldn't find how to set up the proxy with Scout Extended.

Could you tell me how to proceed?

Tha

[2022-03-03 14:54] DevinCodes commented on #304
Hi there!

You should be able to use the snippet from the documentation you linked, and place it in the `boot` command of your `AppServiceProvider`. This should let Scout Extended resolve the Algolia client using the HTTP client you set there.

Let me know if this works!

[2022-04-24 02:23] bakerkretzmar opened #305 "Scout's collection macros override Scout Extended's if regular models booted after Aggregator"
- Laravel version: 9.8.1
- Algolia Scout Extended version: 2.0.2
- Algolia Client Version: 3.2.0
- Language Version: 8.1.4

### Description

I have a simple aggregator that indexes my `Event` and `Hub` models, and just today I started getting a `ModelNotDefinedInAggregatorException` thrown any time I tried to save a Hub. Digging around in the stack trace I realized that the `queueRemoveFromSearch`

[2022-05-02 08:47] DevinCodes commented on #305
Thank you for the report @bakerkretzmar ! Please let me know when you've been able to spin up the app with reproduction. Thank you advance!

[2022-05-19 11:40] AlexVanderbist commented on #305
Hi, I'm running into the same issue. As @bakerkretzmar explained, the `searchable` and `unsearchable` macros are being registered every time a generic `Searchable` model boots. This means that, depending on the order of execution, these macros (and thus `queueMakeSearchable` and `queueRemoveFromSearch`) will be called on the generic `Searchable` model and not on the `Aggregator` instance.

The eas

[2022-05-19 15:45] amman20 opened #306 "Getting queryID from search resutlts"
- Laravel version: 9.8.1
- Algolia Scout Extended version: 2.0.2
- Algolia Client Version: #.#.#
- Language Version: 8.0

### Description
queryID is not reachable because it's neglected when creating ScoutExtendedBuilder.

### Steps To Reproduce
When I send a callback to search Method:
[code]

[code]

`$algolia->search($query, $options);` returns an array with queryID added to it . However, when q

[2022-06-13 09:02] #298 closed

[2022-06-13 09:21] DevinCodes commented on #306
Hi @amman20 , thank you for reaching out.

You can get the queryID by doing something like this:

[code]

The `raw` method gives you access to the raw response as an array, and you can get the queryID from there. I hope this helps 🙂

If you feel like the code you described should work as well, feel free to open a PR and we'll happily review it 😄

Cheers!

[2022-06-13 09:33] #195 closed

[2022-06-13 09:42] #305 closed

[2022-06-14 13:45] amman20 commented on #306
thank you @DevinCodes for your reply I will try this.

[2022-06-14 13:46] #306 closed

[2022-06-15 17:41] andresilvagomez opened #309 "Please run `./vendor/bin/pest` instead of `/vendor/bin/phpunit`."
- Laravel version: 9.19.0
- Algolia Scout Extended version:
- Algolia Client Version: #.#.#
- Language Version: 8.1

### Description

When I Run

 php artisan scout:sync

  Please run `./vendor/bin/pest` instead of `/vendor/bin/phpunit`.

### Steps To Reproduce

[2022-06-16 08:48] DevinCodes commented on #309
Hi @andresilvagomez ,

Could you please point me to where the `phpunit` command is being run when you run `php artisan scout:extended`? I can't find anything related to this in our code.

Thank you in advance.

[2022-06-29 17:15] andresilvagomez commented on #309
@DevinCodes sorry for this delay, thanks to you to answer.

I never execute, only when I put in the terminal, this commands it appear.

<img width="565" alt="Screen Shot 2022-06-29 at 12 15 20" src="https://user-images.githubusercontent.com/2415015/176496890-f86b21c2-317e-4673-899d-a8baecc261ac.png">

[2022-06-30 16:23] DevinCodes commented on #309
I'm not able to reproduce this issue, does it come from some configuration in your project perhaps?

Would you be able to provide the steps for me to reproduce this? Thank you in advance!

[2022-07-05 19:16] eze2411 opened #311 "deleteBy throwing Algolia's limit rate on bulk delete"
- Laravel version: 8.83.0
- Algolia Scout Extended version: 2.0.1
- Language Version: 7.4

### Description
Hi. We're working on a marketplace application, that currently has over 200k users and +300k products. We're experiencing the following issue while running a cron job that checks and deletes (or not) `Searchable` objects from our database:

[code]

It seems to be that the problem occurs in `s

[2022-07-06 09:27] DevinCodes commented on #311
Hi @eze2411 ! Thank you for the clear explanation on this.

To give some context on why we use `deleteBy` rather than `deleteObject`: if a model generates multiple records, the approach of deleting by objectID won't work. This approach works well when there's a 1:1 relationship between models and records, but as soon as there are multiple records the approach needs to change to delete by the share

[2022-07-07 14:25] eze2411 commented on #311
Hi @DevinCodes ! Thanks for your quick reply.
Great to hear about why you use `deleteBy` rather than `deleteObject`. We already took note of that.

The next question that came up to us while digging deeper on this is: if the relationship between models and records gets higher than 1:1, could we use then `deleteObjects` so that it gets to delete all of the records involved?

We're currently doing t

[2022-07-24 04:34] nzakjames opened #313 "Unknown database 'aggregator'"
SQLSTATE[42000]: Syntax error or access violation: 1049 Unknown database 'aggregator'

anyone has this issue?

[2022-07-26 22:01] JamesHemery commented on #188
I put in place a temporary solution, the time to do a PR to have a permanent solution.

**Create a command:**

[code]

And create a config file for replicas:

[code]

I didn't put the replicas in the scout-<index> config file because it gets overwritten during the remote sync.

[2022-07-30 08:12] #313 closed

[2022-09-10 02:17] JoaoPedroDiasMonteiro opened #315 "Support for whereNotIn?"
### Description

Hello there! I think that the implementation of the `whereNotIn` method is very helpful,

[code]

Let’s think that we need to search for a User, but filter them by `$except` & `$only`.

If we want to apply only the except filter, we can perform two queries to get the results

[code]

But the things get harder when we want to combine the `$except` and the `$only`

[code]

With the

[2022-11-01 09:38] otherperspectives commented on #208
Any update on this?

[2022-11-10 18:09] stefanobianchini commented on #234
The same happens to me:

[code]
Only Page entries are imported on index.

And when i try to execute:
php artisan scout:import "App\Models\Articles"
The Page entries are flushed and only Article entries are present in the index.

Any news about this issue?